/*Overides for Panel css*/
$panel-body-background-color: white !default;
$panel-body-border-color: #ECF0F1 !default;
$panel-body-font-size: 12px !default;
$panel-frame-background-color: white !default;
$panel-header-background-color: #E0E3E6 !default;
$panel-header-border-color: rgb(224, 224, 224) !default;
$panel-header-border-width: 0 !default;
$panel-header-font-size: 12px !default;
$panel-header-inner-border-color: none !default;
$panel-header-inner-border-width: 0 !default;
$panel-header-font-size: 12px !default;
$grid-row-cell-font-size: 12px !default;