
.x-mask {
    z-index: 1000;
}

.x-mask.splashscreen {
    background: -webkit-linear-gradient(white 0%, #F8F8F8 100%);
    background-image: url(../images/bg/furley_bg.png);
    background-repeat: repeat;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    color: #333;
    padding-top: 0px;
    margin-left: -50px !important;
    text-align: center;
    border: none;
    background-color: transparent;
    background-position: top center;
    z-index: 1000;
}

.x-mask-msg.splashscreen span {
    margin-left: 40px;
}
/*
.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}
*/
.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('../images/logo-splash.png') !important;
    margin: 0 auto;
    margin-top: 220px;
    width:330px;
    height:85px;
}

#x-splash-message {
    background: none;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    margin-top: 180px;
    font-size: 14px;
    font-weight: 700;
    color: #006cab;
}

.x-mask-msg div:nth-child(2) {
     background-position: 35px top !important;
}

#splash-text 
{
    margin-top: 10px;
}