/*Font Families*/

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

/*Global Theme Vars*/

body {
  background: -webkit-linear-gradient(#ffffff 0%, #f8f8f8 100%);  
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F8F8F8',GradientType=0 ); /* IE6-9 */
  background-image: url(../images/bg/furley_bg.png);
  background-repeat: repeat;
}

a, a img{
  outline: none;
}

img {
  border: 0;
}

.x-body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
}

.x-panel-header-text-default,
.x-panel-header-text-default-framed {
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    color: #333;
}

.x-window-header-text-default {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  color: white;
}
/*
.x-tool img {
  background-image: url(../../../extjs/resources/themes/images/gray/tools/tool-sprites.png);
}
*/
.x-fieldset {
  border:0 none;
}

.x-tab-inner {
  font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    color: #333;
}

.x-panel-body-default {
  border-color: #EBEBEB;
}

.x-btn,
.x-btn-center,
.x-btn .x-btn-center .x-btn-inner,
.x-btn-default-toolbar-small .x-btn-inner,
.x-btn-default-small .x-btn-inner,
.x-grid-row .x-grid-cell {
  font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
}

.x-form-field, .x-form-item, .x-form-text, .x-form-item-label, .x-boundlist-item, .x-form-display-field {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  color: #111;
}

.x-grid-tree-node-expanded   .x-tree-icon-parent {
  background-image: url(../images/ux/tree-node-parent.png);
}

.x-grid-row .x-grid-cell {
  padding:5px;
}

.x-tab-close-btn {
  background-image: url(../images/ux/tab-default-close.png);
}

.x-tab-close-btn:hover {
  background-image: url(../images/ux/tab-default-close-active.png);
}

.x-toolbar {
  border-top: 0px none;
}

.x-column-header-text {
	font-family: 'Maven Pro', sans-serif;
	color: #333;
}

.x-mask-msg div {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  color: #111;
}

.x-window-header-default-top{
  background: #333 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  padding: 5px !important;
  border-width: 0 !important;
}

/*.messageBox{
  background: #333;
  box-shadow: none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}*/

.x-tab-bar-top .x-tab-bar-body {
  border: 0 none;
}

.x-window-body-default {
  border: 0;
}

.x-tip {
  background-color: rgba(51,51,51,0.85);
  border: 0 none;
}

.x-tip-header, .x-tip-body, .x-form-invalid-tip-body {
  color: white;
}

.x-tip-header-text {
  color: rgb(0, 183, 255);
}
/*Header*/
#headerPanel-body, #headerMain-body, #headerButs-body, #headerSub-body {
  border: none;
  background:none;
}

#mainAppPanel {
  margin-left: 10px;
}


#mainAppPanel .x-tab-bar-top .x-tab-bar-body, .x-tab-bar, .x-tab-bar-strip-default   {
  background: none;
  border: 0 none;
}

/*#mainAppPanel div:first-child div:first-child{
  background-color:none;
}*/


#mainAppPanel .x-tab-default-top {
  background: -webkit-linear-gradient(#ffffff 0%, #f8f8f8 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F8F8F8',GradientType=0 ); /* IE6-9 */
  border-color: #ddd;
}

#mainAppPanel .x-tab-top-active {
  background: -webkit-linear-gradient(#f8f8f8 0%, #e8e8e8 100%);
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8 )); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f8f8f8 0%,#e8e8e8  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
  border-color: #ccc;
  box-shadow: none;
}

.header_btn {
  border: 0;
  background: white;
}

#help_btn {
  background: -webkit-linear-gradient(#0082DB 0.33%, #0084B4 100%); 
  background: -moz-linear-gradient(top, #0082DB 0%, #0084B4  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0082DB), color-stop(100%,#0084B4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0082DB 0%,#0084B4  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082DB', endColorstr='#0084B4',GradientType=0 ); /* IE6-9 */
}

#headerUserIcon {
  background: -webkit-linear-gradient(#0082DB 0.33%, #0084B4 100%); 
  background: -moz-linear-gradient(top, #0082DB 0%, #0084B4  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0082DB), color-stop(100%,#0084B4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0082DB 0%,#0084B4  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082DB', endColorstr='#0084B4',GradientType=0 ); /* IE6-9 */
}


.header_btn .x-btn-default-small .x-btn-inner {
  color: white;
}

.header_btn_over {
  background: -webkit-linear-gradient(#0082DB 0.33%, #0084B4 100%); 
  background: -moz-linear-gradient(top, #0082DB 0%, #0084B4  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0082DB), color-stop(100%,#0084B4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0082DB 0%,#0084B4  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0082DB 0%,#0084B4  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082DB', endColorstr='#0084B4',GradientType=0 ); /* IE6-9 */
  color: #fafafa;
}

.header_btn #help_btn-btnInnerEl, .header_btn #headerUserIcon-btnInnerEl {
  color: #fafafa;
}

.header_btn_over #help_btn-btnInnerEl, .header_btn_over #headerUserIcon-btnInnerEl {
  color: #fafafa;
}
/*Project Panel*/
#projectDesignPanel-body {
  background: #fdfdfd;
}

#ProjectPanel-placeholder {
  border-top-right-radius: 4px;
  border-color: #EBEBEB;
  box-shadow: rgb(210, 210, 210) 0px 0px 15px 3px inset;
}

#projectDesignPanel-body div table td div .x-tree-icon-leaf {
  background-image: url(../images/ux/design-tree-icon-leaf.png);
}


#projectAnalysisPanel-body div table td div .x-tree-icon-parent {
  background-image: url(../images/ux/j5-tree-icon-parent.png);
}

#projectAnalysisPanel-body div table td div .x-tree-icon-leaf {
  background-image: url(../images/ux/j5-tree-icon-leaf.png);
}

#projectPartsPanel-body div table td div .x-tree-icon-leaf {
  background-image: url(../images/ux/ve-tree-icon-leaf.png);
}

#projectTab1, #projectTab2, #projectTab3, #projectTab4 {
  height: 36px;
  width: 54px;
  left: 0;
  border: none;
  border-radius: none;
}

.projectBarButton {
  border-radius: none;
  box-shadow: none;
  left: 0;
  background: -webkit-linear-gradient(#055e75 0.33%, #003e53 100%);
  background: -moz-linear-gradient(top, #055e75 0%, #003e53  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055e75), color-stop(100%,#003e53)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #055e75 0%,#003e53  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #055e75 0%,#003e53  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055e75', endColorstr='#003e53',GradientType=0 ); /* IE6-9 */
  border-bottom: 0 !important;
}

.project-tab-focus {
  border-radius: 0;
  background: rgba(0,0,0,0.2);
}

.x-tab-project-tab-active {
  border-radius: 0;
  background: rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.5);
}

.projectTab {
  background: none;
}

.projectBarButton {
  width: 32px;
  height: 32px;
}

#ProjectPanel .x-tab-bar-top .x-tab-bar-body {
	padding: 0;
}

#ProjectPanel_header { 
  border-top-right-radius: 4px;
  border-color: #4c4c4c;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #333333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#333333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4c4c4c 0%,#333333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#333333 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4c4c4c 0%,#333333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  box-shadow: none;
}

#ProjectPanel_header_hd span {
  color: #efefef;
}

#ProjectPanel-body {
  border-width: 0 1px;
  border-color: #D6D6D6;
  width:230px;
}

#ProjectPanel .x-tab-bar { 
  background: -webkit-linear-gradient(#055e75 0.33%, #003e53 100%);
  background: -moz-linear-gradient(top, #055e75 0%, #003e53  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055e75), color-stop(100%,#003e53)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #055e75 0%,#003e53  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #055e75 0%,#003e53  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055e75', endColorstr='#003e53',GradientType=0 ); /* IE6-9 */
}

#ProjectPanel .x-tab-bar-top .x-tab-bar-body {
  border-width: 1px;
  border-color: #003e53;
}

#ProjectPanel .x-tab-bar-body {
  height:38px;
}

#ProjectPanel .x-tab-bar-strip {
  top:37px;
}

/*Dashboard*/
#DashboardPanel {
  background: none;
}

#welcome_splash {
  text-align: center;
}

.welcome_sub {
  font-size: 18px;
  color: #999999;
}

#dashboardButtons {
  text-align: center;
}

.dashBtn {
  margin: 10px;
}

#dashboardButtons .x-btn-default-large {
  padding: 10px 3px 3px 3px;
  border-color: rgb(235, 235, 235);
}

#dashboardButtons .x-btn-inner {
  padding-top: 64px;
}

#dashboardButtons .x-btn-icon {
  height: 64px;
}

.projectStartBtn-over #projectStartBtn-btnInnerEl, .watchTutorialBtn-over #watchTutorialBtn-btnInnerEl, .readManualsBtn-over #readManualsBtn-btnInnerEl {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: #006ADC;
  font-weight: bold;
}

.projectStartBtn-over #projectStartBtn-btnIconEl {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background-image: url(../images/projectstart-over.png) !important;
}

.watchTutorialBtn-over #watchTutorialBtn-btnIconEl {
    -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background-image: url(../images/watchtut-over.png) !important;
}

.readManualsBtn-over #readManualsBtn-btnIconEl {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background-image: url(../images/readman-over.png) !important;
}

.welcome_text {
  font-size: 48px;
  font-weight: bold;
}

#DashboardPanel-body {
  border-top: none;
  background: rgba(255,255,255,0.5);
}

#projectGrid_Panel_header, #designGrid_Panel_header, #dashboard_StatsPanel_header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#projectGrid_Panel-body, #designGrid_Panel-body, #dashboard_StatsPanel-body {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#designGrid_Panel .x-panel-header-default, .x-toolbar-default , #dashboard_BottomPanel .x-panel-header-default {
  border: 0;
  background: none;
  box-shadow: none;
}

#designGrid_Panel_header {
  top: 30px !important;
  z-index: 100;
}

#designGrid_Panel .x-toolbar-default {
  z-index: 110;
}

/*Vector Editor*/
#VectorEditorMainMenuPanel-body {
  border: 0px;
  border-left: 1px solid #EBEBEB  ;
}

#VectorPanel_header, #AnnotatePanel_header {
  border-top: 0px;
}

#VectorEditorPanel-body {
  border:0px;
}

#VectorEditorMainMenuBar{
  background: #FDFDFD;
}

#VectorEditorMainToolBar {
  background: #F8F8F8;
}
/*Device Editor*/
#j5runPanel .x-field-label-cell {
  vertical-align: middle !important;
}

.grid-DSF {
    border-right-color: #ff0000 ! important;
    border-right-style: solid ! important;
    border-right-width: 1px ! important;
}

.binHeader {
    background-color: #fefefe;
    border-color: #EBEBEB;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
}

.binHeader:hover {    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-color: #000000;
}

.binHeader-selected {
    background-color: rgb(240,240,240);
    border-color: #0082DB;
}

.gridPartCell {
  font-size:13px;
}

.gridPartCell:hover {
    /*border-color: #000000;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.gridPartCell-selected {
    background-color: rgb(240,240,240);
    border-color: #0082DB;
}

.fasConflictIndicator {
    position: absolute;
    top: 2px;
    left: 2px;
}

.eugeneRuleIndicator {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.DeviceEditorTab {
  border: 1px solid #E9E9E9;
  border-top: none;
}

.DeviceEditorTitlePanel .x-toolbar-default {
   background: #FDFDFD;
}

.DeviceEditorMenuPanel .x-toolbar-default {
   background: #FDFDFD;
}

#DeviceEditorMainToolPanel {
  background: #F8F8F8;
}

.DeviceEditorToolPanel .x-toolbar-default {
background: #F8F8F8;
}

.DeviceEditorPartsBar {
  background: #125B85;
}

.x-toolbar .x-toolbar-separator-horizontal {
  border-left: 1px solid #035363;
  border-right: 1px solid #05628D;
}

.DeviceEditorPartsBar .x-btn-default-toolbar-large-over {
  background: rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.5);
  border: black;
}
.DeviceEditorCanvas .x-layout-fit {
  border: none;
}

.flipImage {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.InspectorPanel {
  z-index: 1000;
  box-shadow: #999 0px 4px 30px 1px;
}

.DeviceEditorCanvas, .designGrid, .DeviceEditorCanvas .x-layout-fit  {
  width: auto ! important;
}

.gridPartCell-alert {
  background-color: rgba(225, 0, 0, 0.1);
}

.j5Parameters_Window label {
  font-size: 10px !important;
}

.j5Parameters_Window, .j5Parameters_Window .x-window-body {
  background: rgb(240,240,240);
}

.j5Parameters_Buttons {
  background: rgb(225,225,225);
}

.openPartLibraryBtn, .changePartDefinitionBtn, .deletePartBtn {
  background: rgb(21, 133, 197);
}

.openPartLibraryBtn .x-btn-inner, .changePartDefinitionBtn .x-btn-inner, .deletePartBtn .x-btn-inner{
  color: white;
}

.openPartLibraryBtn-over, .changePartDefinitionBtn-over, .deletePartBtn-over {
  background: rgb(17, 101, 150);
}

/*j5 Reports*/
.j5ReportsPanel, .j5ReportsPanel .x-panel-body-default-framed, .j5ReportsPanel .x-menu-body {
  background: #333 !important;
  border:0 none;
  color: white;
}

.j5ReportsPanel .x-menu-item-text {
  background: none;
  color: white;
}

.j5ReportsPanel .x-menu-item-active .x-menu-item-link{
  background: black;
  color: rgb(0, 183, 255);
  border-color: black;

}

.j5ReportsPanel .x-menu-icon-separator {
  border: 0 none;
  width: 0px;
}

#j5ResponseTextField-inputEl {
  color:black;
}

.progress {
    overflow: hidden;
    height: 18px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .bar {
    background-color: #62c462;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar {
    background-color: #dd514c;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

.progress-danger.progress-striped .bar {
    background-color: #ee5f5b;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar {
    background-color: #5eb95e;
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}

.progress-success.progress-striped .bar {
    background-color: #62c462;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar {
    background-color: #4bb1cf;
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}

.progress-info.progress-striped .bar {
    background-color: #5bc0de;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@-webkit-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@-moz-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}


.plasmidsGrid .x-grid-cell-first .x-grid-cell-inner {
  color: black;
  text-decoration: underline;
}

.plasmidsGrid .x-grid-cell-first .x-grid-cell-inner:hover{
  color: blue;
  text-decoration: underline;
}