@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

.x-body {
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
}

.x-panel-header-text-default,
.x-panel-header-text-default-framed {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #333;
}

.x-tab-inner {
	font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #333;
}

.x-btn,
.x-btn-center,
.x-btn-default-toolbar-small .x-btn-inner,
.x-btn-default-small .x-btn-inner {
	font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #333;	
}

.x-form-field, .x-form-text, .x-form-item-label, .x-boundlist-item {
	font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #111;
}

#headerPanel-body, #headerMain-body, #headerSub-body {
	border: none;
}

#headerPanel-body, #headerMain-body, #headerSub-body {
	background: -webkit-linear-gradient(#ffffff 0%, #f8f8f8 100%);
}

#headerUserIcon {
	border: none;
	background: none;
	padding-left: 10px;
	padding-right: 10px;
}

#projectTab1, #projectTab2, #projectTab3, #projectTab4 {
	height: 36px;
	width: 54px;
	border: none;
	background: none;
	box-shadow: none;
	border-radius: none;
}



.projectBarButton {
	width: 32px;
	height: 32px;
}

#tabbar-1012 { 
	background: -webkit-linear-gradient(#055e75 0.33%, #003e53 100%);
}

#tabbar-1012-body {
	height:40px;
}

#tabbar-1012-strip {
	top:37px;
}

#tabbar-1012-innerCt {
	height:50px;
}