// DashboardPanelView

.home-dash-icon {
	display: inline-block;
	width: 14px !important; 
	height: 14px !important;
	background-image: url(images/dashboard/home-14.png);
	background-repeat: no-repeat;
	margin-top: 1px;
	margin-left: 1px;
}

.tour-icon, .manuals-icon, .tutorial-icon, .newProject-icon {
	display: inline-block;
	width: 32px !important;
	height: 32px !important;
	background-image: url(images/dashboard/top_sprites.png);
	background-repeat: no-repeat;
	top: 16px;
	margin: 0 auto;
}

.manuals-icon {
	background-position: 0 0 !important;
}

.tutorial-icon {
	background-position: -64px 0 !important;
}

.tour-icon {
	background-position: -128px 0 !important;
}

.newProject-icon {
	background-position: -192px 0 !important;
}

.newSequence-icon {
	display: inline-block;
	width: 32px !important;
	height: 32px !important;
	background-image: url(images/dashboard/sequence-add-icon.png);
	background-repeat: no-repeat;
	top: 16px;
	margin: 0 auto;
}

.projects-icon, .designs-icon, {
	display: inline-block;
	width: 64px !important;
	height: 64px !important;
	background-image: url(images/dashboard/stat_sprites.png);
	background-repeat: no-repeat;
}

.sequences-icon, {
	display: inline-block;
	width: 64px !important;
	height: 64px !important;
	background-image: url(images/dashboard/sequence-icon.png);
	background-repeat: no-repeat;
}

.parts-icon, {
	display: inline-block;
	width: 64px !important;
	height: 64px !important;
	background-image: url(images/dashboard/part-icon.png);
	background-repeat: no-repeat;
}

.projects-icon {
	background-position: -128px 0 !important;
}

.designs-icon {
	background-position: 0 0 !important;
}

.dashProjectsData, .dashDesignsData, .dashSequencesData, .dashPartsData {
	border: 2px solid #006CAB;
	border-radius: 3px;
	background: #006CAB;
}

.projectsCountBox-icon, .designsCountBox-icon, .sequencesCountBox-icon, .partsCountBox-icon {
	border: 1px solid #006CAB;
	background: #006CAB;
}

.projectsCountBox-data, .designsCountBox-data, .sequencesCountBox-data, .partsCountBox-data {
	background: #1585C5;
	border: 1px solid #1585C5;
}

.projectsCountBox-num input, .designsCountBox-num input, .sequencesCountBox-num input, .partsCountBox-num input {
	background: #1585C5;
	font-size: 54px;
	color: white;
	padding: 1px 12px 2px 3px;
	text-align: right;
	border: none;
}

.projectsCountBox-desc input, .designsCountBox-desc input, .sequencesCountBox-desc input, .partsCountBox-desc input {
	background: #1585C5;
	font-size: 28px;
	color: white;
	text-transform: lowercase;
	padding: 1px 12px 2px 3px;
	text-align: right;
	border: none;
}

#DashboardPanel .x-tab-top-active {
	background: 0 none;
	border: 0 none;
	opacity: 1 !important;
}

#DashboardPanel .x-tab-default-active .x-tab-inner {
	color: #006cab;
	opacity: 1 !important;
}

#DashboardPanel .x-tab-default-top {
	background: 0 !important;
	border: 0 !important;
	border-bottom:0 ;
	opacity: 0.5;
}

.sequenceLibrarySearchField .x-form-text, .partLibrarySearchField .x-form-text, .strainLibrarySearchField .x-form-text{
	background-image: url(images/ux/magnifier.png) !important;
	background-position: 12px center;
	background-repeat: no-repeat;
	background-size: 16px;
	padding-left: 40px;
}

.empty-search-field {
	padding-left: 40px;
	opacity: 0.6;
}

.batch-import-area {
	position: absolute !important;
	width: 100% !important;
	height: 91%;
	top: 55px !important;
	z-index: 3000;
	background: rgba(236, 240, 241, 0.7);
	border: 5px dashed #006cab;
	text-align: center;
	padding-top: 18%;
	font-size: 24px;
	text-shadow: 1px 1px 1px rgb(175, 175, 175);
	color: #000000;
	display:none;
}

#dropZone-close {
	position: relative;
	float: right;
	margin-left: 30px;
	background-image: url(/images/ux/drop-close) no-repeat;
	background-size: 32px;
	opacity: 0.7;
	height: 32px;
	width:32px;	
  transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}

#dropZone-close:hover {
	opacity: 1;
}

.sequenceLibraryImportButton {
	padding: 2px 10px;
}

.sequenceLibraryImportButtonIcon {
	background-size: 14px;
}