// ProjectPanelView.scss
$panel-body-font-size: 12px;
$panel-body-background-color: white;
$panel-body-border-color: #ECF0F1;
$panel-frame-background-color: white;
$panel-header-background-color:  #333234;
$panel-header-border-color:  #333234;
$panel-header-inner-border-color: none;
$panel-header-inner-border-width: 0;
$grid-row-cell-font-size: 12px;

#projectDesignPanel-body {
  background: #fdfdfd;
}

#ProjectPanel-placeholder {
  border-top-right-radius: 4px;
  background: #ECF0F1;
  border-color: #EBEBEB;
}

#projectDesignPanel-body div table td div .x-tree-icon-leaf {
  background-image: url(../images/ux/design-tree-icon-leaf.png);
  background-size: 16px;
}


#projectAnalysisPanel-body div table td div .x-tree-icon-parent {
  background-image: url(../images/ux/j5-tree-icon-parent.png);
  background-size: 16px;
}

#projectAnalysisPanel-body div table td div .x-tree-icon-leaf {
  background-image: url(../images/ux/j5-tree-icon-leaf.png);
  background-size: 16px;
}

#projectPartsPanel-body div table td div .x-tree-icon-leaf {
  background-image: url(../images/ux/ve-tree-icon-leaf.png);
}

#projectTab1, #projectTab2, #projectTab3, #projectTab4 {
  height: 36px;
  width: 54px;
  left: 0;
  border: none;
  border-radius: none;
}

.projectBarButton {
  border-radius: none;
  box-shadow: none;
  left: 0;
  background: -webkit-linear-gradient(#055e75 0.33%, #003e53 100%);
  background: -moz-linear-gradient(top, #055e75 0%, #003e53  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055e75), color-stop(100%,#003e53)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #055e75 0%,#003e53  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #055e75 0%,#003e53  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055e75', endColorstr='#003e53',GradientType=0 ); /* IE6-9 */
  border-bottom: 0 !important;
}

.project-tab-focus {
  border-radius: 0;
  background: rgba(0,0,0,0.2);
}

.x-tab-project-tab-active {
  border-radius: 0;
  background: rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.5);
}

.projectTab {
  background: none;
}

.projectBarButton {
  width: 32px;
  height: 32px;
}

#ProjectPanel .x-tab-bar-top .x-tab-bar-body {
	padding: 0;
}

#ProjectPanel_header { 
  border-top-right-radius: 4px;
  border-color: #333234;
  background: #333234;
  box-shadow: none;
}

#ProjectPanel_header_hd span {
  color: #efefef;
}

#ProjectPanel_header-targetEl .x-tool-collapse-left {
  background-position: 0 -149px;
}

#ProjectPanel_header-targetEl .x-tool-over .x-tool-collapse-left {
  background-position: -15px -149px;
}

#ProjectPanel-body {
  border-width: 0px;
  border-color: #ECF0F1;
  width:220px;
}

#ProjectPanel .x-tab-bar { 
  background: -webkit-linear-gradient(#055e75 0.33%, #003e53 100%);
  background: -moz-linear-gradient(top, #055e75 0%, #003e53  100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055e75), color-stop(100%,#003e53)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #055e75 0%,#003e53  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #055e75 0%,#003e53  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #055e75 0%,#003e53  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055e75', endColorstr='#003e53',GradientType=0 ); /* IE6-9 */
}

#ProjectPanel .x-tab-bar-top .x-tab-bar-body {
  border-width: 1px;
  border-color: #003e53;
}

#ProjectPanel .x-tab-bar-body {
  height:38px;
}

#ProjectPanel .x-tab-bar-strip {
  top:37px;
}

#projectTreePanel, #projectTreePanel-body {
  width: 220px;
  background: white;
}

.sequenceLibraryBtn, .partsLibraryBtn, .strainLibraryBtn {
  background: #006cab !important;
  border-radius: 0px !important;
  transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
}

.sequenceLibraryBtn .x-btn-inner, .partsLibraryBtn .x-btn-inner, .strainLibraryBtn .x-btn-inner {
  color: white;
  border: 0 !important;
  border-bottom: 1px solid #4C85BE !important;
}

.x-sequenceLibraryBtn-over, .x-partsLibraryBtn-over, .x-strainLibraryBtn-over {
  background: #004065 !important;
}

.sequenceAddBtn, .strainAddBtn {
  left: 197px !important;
  border-radius: 0px !important;
  top: 4px !important;
  background: none !important;
  background-image: url(../resources/images/tree/addSequenceBtn.png) !important;
  background-size: 19px !important;
  background-position: center;
  opacity: 0.4;
  transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
}

.x-sequenceAddBtn-over, .x-strainAddBtn-over {
  background: none;
  opacity: 1;
}

.projectAddBtn {
  left: 193px !important;
  border-radius: 0px !important;
  background: none !important;
  background-size: 21px !important;
  background-position: center;
}

.projectAddBtn .x-tool-img {
  background-image: url(../resources/images/tree/addProjectBtn.png) !important;
  opacity: 0.4;
  background-size: 17px;
}
  
.projectAddBtn .x-tool-plus {
  background-position: center;
}

.x-projectAddBtn-over {
  background: none;
}

#projectTreePanel_header-targetEl .x-tool img {
  border-radius: 0px;
}

#projectTreePanel_header-targetEl .x-tool {
  opacity: 0.4;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

#projectTreePanel_header-targetEl .x-tool-over .x-tool-plus {
  opacity: 1;
  background-position: center !important;
}

.explorerMenu {
  border-radius: 3px !important;
  background: rgba(236, 240, 241, 0.5) !important;
}

