body {
    background: #ecf0f1;
    font-family: 'proxima-nova';
    font-weight: normal;
    font-weight: 300;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: 0 auto -150px;
}

#footer, .wrapper:after {
    height:150px;
}
/*TopBar*/

.top-bar {
    background: white;
    height: 70px;
    padding: 0px 15px;
}

.top-bar-section ul {
    background: white;
    margin-top: 13px;
}

.top-bar-section ul li>a, .top-bar-section li a:not(.button) {
    color: rgb(172, 174, 187);
    background: white;
    font-weight: normal;
    transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
}

.top-bar-section ul li>a:not(.button):hover {
    color: #006cab;
}

.top-bar-section ul li.active>a {
    background: none;
    color: #006cab;
}

.name img {
    width: 40%;
    position: relative;
    top:15px;
    left:10px;
}

/*Header*/
#banner_head {
    font-family: "proxima-nova", sans-serif;
    font-size: 42px;
    font-weight:600;
    margin-top: 45px;
    color: 414C57;
    padding: 10px;
    font-style: normal;
    /*display: none;*/
    text-shadow: 1px 1px 0px white;
    text-align: center;
    line-height: 45px;
}

#banner_head_sub {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
    color: #747B86;
    padding: 10px;
    text-shadow: 1px 1px 0px white;
    text-align: center;
    letter-spacing: 1px;
}

/*Banner*/
#banner {
    margin-top: 20px;
    min-height: 400px;
}

#banner_around {
    padding: 5px;
    background: #E0E4E6;
    min-height: 400px;
    position: relative;
    z-index: 100;
    top:20px;
}

#banner_back {
    background:-webkit-linear-gradient(#00648B 0%, #002136 100%);
    background:-moz-linear-gradient(top, #00648B, #002136);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00648B', endColorstr='#002136');
    min-height: 400px;
}

#banner_front {
    background-image: url(../img/bg/grid_bg.png);
    background-attachment: fixed;
    background-repeat: repeat;
    min-height: 400px;
}

#banner_content {
    background: none;
    padding-top:30px;
}

.bandiv {
    font-weight: 300;
    font-size: 18px;
    color: #e1e1e1;
    text-align: center;
    /* display: none; */
    font-size: 16px;
}

.bandiv a img {
    position: relative;
    padding: 2px 0px 0px 0px;
}

.icon-text {
    font-family:"PT Sans", sans-serif;
    position: relative;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    line-height:70px;
}

.icon-desc {
    font-family: "PT Sans", sans-serif;
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size:16px;
    line-height:22px;
    font-style: normal;
    color: rgb(224, 227, 235)
}

.step-sep {
    margin:10% 2% 0% 2%;
}

/*Showcase*/
#section {
    /*margin-top: -60px;*/
    margin-bottom: 0px;
    padding-bottom: 100px;
    background:rgb(62, 68, 74);
    background-repeat: repeat;
    border-radius: 0 !important;
    padding-top: 110px;
}

.showcase_block_back {
    background-image: url(../img/bg/grid_bg2.png);
    background-repeat: repeat;
    background-attachment: fixed;
    border-radius:4px;
    min-height:240px;
}

.showcase_block {
    min-height:240px;
    border-radius: 4px;
    text-align: center;
    background:rgba(16, 16, 19, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(39, 41, 43, 0.65) inset;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;

}

.showcase_head {
    margin-top: 30px;
}

.showcase_head h4 {
    color: white;
    font-family: "proxima-nova";
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1px;
}

.showcase_text {
    font-family:"PT Sans", sans-serif;
    font-style: normal;
    font-weight:300;
    line-height: 18px;
    margin-top:20%;
    color: rgba(255, 255, 255, 0.8);
}

#header2 {
    margin-bottom: 50px;
    font-family: 'proxima-nova', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    letter-spacing: 1px;
}

.showcase_block:hover{
    background: rgba(0,98,151,0.6);
}

/*Sponsors*/
#section-sponsors {
    padding: 30px;
    background: rgb(51, 56, 61);
}

#section-sponsors h4 {
    text-align: center;
    color: rgb(134, 143, 158);
    text-shadow: 1px 1px 1px rgb(192, 196, 209);
    margin-bottom: 25px;
}

#section-sponsors img {
    width: 70%;
    margin-left:15%;
}

#section-updates {
    margin-top: 85px;
    display: none;
    margin-bottom: 85px;
}

#section-updates h4 {
    color: #125B85;
    font-weight: 600;
    margin-bottom: 25px;
    text-shadow: 1px 1px 0px #ECF0F1;
}

.update-box {
    background: #E0E3E6;
    padding: 20px;
    border-radius:3px;
}

.twitter-timeline {
    width: 100%;
    height: 307px;
}

/*Footer*/
#push,
#footer {
    height: 150px;
    clear: both;
}

#footer {
    background:rgb(40, 43, 48);
}

#footer_links .top-bar {
    background: none;
    padding-top:40px;
}

.social-footer-link {
position: relative;
width: 24px;
padding: 7px 13px 9px 12px !important;
margin: 0px 10px;
}

.social-footer-link {
    top: -7px;
}

.social-footer-link:hover {
background: none;
}

#footer_links .top-bar-section ul {
    background: none;
}

#footer_links .top-bar-section ul li>a,#footer_links .top-bar-section li a:not(.button) {
    background: none;
    color: rgb(189, 191, 201);
}

.social-footer-link img {
    width: 32px;
    opacity: 0.8;
}

/*Pages*/
.box-content {
    background: rgba(255, 255, 255, 0.70);
    padding: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 2px;
    color: #555;
    text-align: justify;
}

 .box-content h4 {
    color: black;
    font-size: 23px;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 2px;
 }

 .press-date {
    font-size: 18px !important;
    margin-bottom: 0px;
}

.circle_outer {
    margin-top: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding:4px;
    background: #E0E3E6;
}

.circle_inner {
    width:150px;
    height:150px;
    border-radius: 50%;
    background: #ffffff;
    }

.page-header {
    font-size: 28px;
    font-family: 'proxima-nova' sans-serif;
    font-weight: 300;
    color: #1585C5;
    margin: 30px 0px 30px 0px;
    line-height: 65px;
    border-bottom: 1px inset #1585C5;
    letter-spacing: 4px;
}

.team-member{
    margin-bottom: 60px !important;
}

#team .circle_outer {
    background: #eeeeee;
}

.team-head {
    font-size: 24px;
    color:#000000;
    font-weight: 400;
    line-height: 28px;
}

.team-sub {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 5px;
}

.team-info {
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #555;
    background: white;
    border-radius: 2px;
}

#contact-info {
    position: relative;
    background: rgba(255, 255, 255, 0.80);
    float: right;
    padding: 20px;
    margin-bottom: 40px;
}

#contact-info h4 {
    color: black;
    font-size: 23px;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

#contact-info p {
    margin-top: 40px;
}
/*Pictures*/
#mike-pic .circle_inner{
    background: url(../img/team/mfero_pic.jpg);
}

#ed-pic .circle_inner{
    background: url(../img/team/ed_pic.jpg);
}

#nat-pic .circle_inner{
    background: url(../img/team/nat_pic.jpg);
}

#prav-pic .circle_inner{
    background: url(../img/team/prav_pic.jpg);
}

#jay-pic .circle_inner{
    background: url(../img/team/jay_pic.jpg);
}

#ark-pic .circle_inner{
    background: url(../img/team/ark_pic.jpg);
}

#wilson-pic .circle_inner{
    background: url(../img/team/wilson_teselagen_pic.jpg);
}

#richardson-pic .circle_inner{
    background: url(../img/team/richardson_teselagen_pic.jpg);
}

/*Signup,Login*/
.page-logo {
    margin: 60px 0px;
    opacity: 0.8;
    text-align: center;
    transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
}

.page-logo:hover {
    opacity: 1;
}

.registration-buts {
    margin-top: 40px;
}

.registration-buts button {
    margin-top: 20px;
    box-shadow: none;
    margin-bottom: 20px;
}

.registration-buts a{
    box-shadow: none;
}

label.inline {
    font-weight: 600;
    color: #696979;;
}

.lost_pw_link {
    text-align: right;
}

.lost_pw_link a{
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0px 30px 0px;
}

#footer_copy {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: rgb(189, 191, 201);
}

#footer2_links {
    padding-left: 3%;
}

#footer2_links .top-bar {
    background: none;
    padding-top:40px;
}

#footer2_links .top-bar-section ul {
    background: none;
}

#footer2_links .top-bar-section ul li>a, #footer2_links .top-bar-section li a:not(.button) {
    background: none;
    color: rgb(189, 191, 201);
        transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
}

#footer2_links .top-bar-section ul li>a:not(.button):hover {
    color: #006cab;
}

.error input, .error textarea, .error select {
    border-color: #006cab;
    background-color: rgba(0, 108, 171, 0.05);
    margin-bottom: 0;
}

[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
    font-size: 0.75em;
    font-weight: bold;
    background: 006cab;
    color: #fff;
    margin-top: 0;
}