/*Restriction Enzymes Manager Window*/
.enzymeSelector-btn-addAll {
	background: url(images/ux/enzymeSelector-btns.png);
	background-position: -29px 0;
	height: 12px;
	width: 12px;
	display: inline-block;
	background-repeat: no-repeat;
}

.enzymeSelector-btn-removeAll {
	background: url(images/ux/enzymeSelector-btns.png);
	background-position: 3px 0;
	height: 12px;
	width: 12px;
	display: inline-block;
	background-repeat: no-repeat;
}

.enzymeSelector-btn-add {
	background: url(images/ux/enzymeSelector-btns.png);
	background-position: -91px 0;
	height: 12px;
	width: 12px;
	display: inline-block;
	background-repeat: no-repeat;
}

.enzymeSelector-btn-remove {
	background: url(images/ux/enzymeSelector-btns.png);
	background-position: -60px 0;
	height: 12px;
	width: 12px;
	display: inline-block;
	background-repeat: no-repeat;
}