!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Vector Editor
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    script(src="/assets/js/lib/jquery.min.js")

    script
        $(function() {

        $(".sendMessage").bind("click",function(){
            var to = $(this).attr('to');
            $("#"+to)[0].contentWindow.postMessage('Message from Cross-window to '+to, document.URL+to);
        });

        });

  body
    iframe#A(src="windowA", name="viewer",frameborder="1",scrolling="yes",style="width:300px;height: 300px;")
    iframe#B(src="windowB", name="viewer",frameborder="1",scrolling="yes",style="width:300px;height: 300px;")
    button(to="A").sendMessage Send message to A
    button(to="B").sendMessage Send message to B