!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Device Editor
    meta(name='apptype', content='de')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    script(src="/assets/js/lib/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/assets/js/teselagenAPI.js")
    script
        $(function() {
            var params = {
                    sessionId : '123',
                    appType : 'de',
                    host: '#{host}'
                };

            teselagen.connect(params,function(){
                console.log("Connected to Server");
            });

            teselagen.bindToUpdates(function(data){
                //log("There are "+data.count.de+" DE and "+data.count.ve+" VE instances.");
            });

            teselagen.bindAction('openModel',function(data){
                log("openModel triggered"+" - "+JSON.stringify(data));
            });


            teselagen.bindAction('anotherAction',function(data){
                log("anotherAction triggered"+" - "+JSON.stringify(data));
            });

            $("#triggerAction").click(function(){
                var data = $("#data").val();
                teselagen.triggerAction('ve','openSequence',data);
                log("Remote action triggered via "+teselagen.triggerMethod)
            });

            $("#getModel").click(function(){
                teselagen.getModel({modelId:'501ad23663086d76c4000001'},function(model){
                    log("Model "+model["name"]+" received! (check the console for the Object)");
                    console.log(model);
                });
            });

            $("#commMethod").bind('change',function(){
                $("#data").val($("#commMethod").val());
                teselagen.triggerMethod = $("#commMethod").val();
            });

            function log(msg)
            {
                $("#log").append(msg+'<br>');
            }

            $("#data").val($("#commMethod").val());

        });
  body
    h2 Device Editor
    br
    textarea#data Data Example
    br
    label Trigger Method: 
    select#commMethod
        option postMessage
        option localStorage
        option Sockets
    br
    br
    button#triggerAction Trigger Event in VE
    br
    button#getModel Get model from MongoDB
    #log