!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Device Editor
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/screen.css')
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/deviceEditor.css')
  body
    #flash(style="display:none;")
      .inner.alert.alert-success
        a.close x
        h4.alert-heading Account updated!

    .subnav.subnav-fixed(style="padding-left:10px;")
      .row
        .span2
          p.lead(style="line-height: 37px;") Device Editor
        .span8
          ul.nav.nav-pills
            li.option-item
              a#newDesign(href='#') New
            li.option-item
              a#openDesign(href='#') Open
            li.option-item.save
              a(href='#') Save
            li.option-item.save
              a(href='#') Share
            li.option-item.dropdown
              a(href='#').dropdown-toggle(data-toggle="dropdown") Export/Import
                b.caret
              ul.dropdown-menu
                li(href="#",onclick="$('#importFile').click();")#import-json-btn Import model JSON
                li(href="#",onclick="$('#importFileXML').click();")#import-xml-btn Import model XML
                li(href="#")#export-json-btn Export model JSON
                li(href="#")#export-xml-btn Export model XML
                input#importFile.hide(type="file",accept="text/*")
                input#importFileXML.hide(type="file",accept="text/*")
            li#j5-config.option-item
              a(href='#') j5 Configuration
            li.option-item
              a(href='#') Help

    .container-fluid(style='margin: 0px;background-color:white;')
      .row(style="margin-top:30px;")
        .span4
          input#design-name.input-xlarge(placeholder="Design Name")
          p.small Created: 
            span#created
          p.small Last modification: 
            span#modified
        .span3
          .well
            p Grid controls
            .btn-group
              button#js-add-row.btn
                i.icon-plus
                | Row
              button#js-add-column.btn
                i.icon-plus
                | Column
            div(style='clear: both;')
        .span6
    .container-fluid(style='margin: 0px;')
        .span(style='margin-left: 0; margin-top:10px; min-width: 189px;')
        

          .toolbar.arrow_box.hide#icon-toolbar
            .span2
              a.btn.js-add-part(href='#', data-toggle='button')
                i.icon-plus
                | Change icon
            .span2
              a.btn.js-rotate(href='#', data-toggle='button')
                i.icon-retweet
                | Change Direction
            .js-elements.hide.elements
              h4.pull-left
                | Available icons
              a.btn.btn-inverse.js-reverse-all-parts.pull-right(href='#', title='rotate parts')
                i.icon-retweet.icon-white
              div(style='clear: both;')

          table.icons.grid

          .toolbar.arrow_box.hide#part-toolbar(style="margin-top:52px;")
            .span4
              .row 
                .span2
                  a.btn.btn-small.cut(href='#', data-toggle='button')
                    i.icon-plus
                    | Cut
                .span2
                  a.btn.btn-small.delete(href='#', data-toggle='button')
                    i.icon-plus
                    | Delete
              .row(style="margin-top:5px;")
                .span2
                  a.btn.btn-small.copy(href='#', data-toggle='button')
                    i.icon-plus
                    | Copy
                .span2
                  a.btn.btn-small#map-from-clipboard(href='#', data-toggle='button')
                    i.icon-plus
                    | Map from Clipboard
              .row(style="margin-top:5px;")
                .span2
                  a.btn.btn-small.paste(href='#', data-toggle='button')
                    i.icon-plus
                    | Paste
                .span2
                  input#genbankFile.hide(type="file",accept="text/*")
                  a.btn.btn-small(onclick="$('#genbankFile').click();") 
                    i.icon-plus
                    | Map from File
          
          table.parts.grid
          
        .pull-right#inspector
          .inspector-head
            btn.btn-small#inspector-toggle.pull-left 
              span.pull-right.context Inspector
          .inspector-body.hide
            ul#inspector-tabs.nav.nav-tabs
              li
                a(href='#inspector-part',data-toggle="tab") Part info
              li
                a(href='#inspector-collection',data-toggle="tab") Collection info
            .inspector-data
              div.tab-content
                div.tab-pane.active#inspector-part
                  form.form-inline
                    fieldset
                      .control-group
                        label.control-label(for='partName') Part name:
                        input#partName.input-small(type='text',style="margin-left:30px;")
                      .control-group
                        label.control-label.disabled(for='input01') Path source:
                        span#part-source(style="margin-left:22px;")
                      .control-group
                        label.control-label.disabled(for='input01') Reverse complement (on source):
                        span#part-revComp(style="margin-left:22px;")
                      .control-group
                        label.control-label.disabled(for='input01') Start BP:
                        span#part-startBP(style="margin-left:22px;")
                      .control-group
                        label.control-label.disabled(for='input01') Stop BP:
                        span#part-stopBP(style="margin-left:22px;")
                      button#change-part-def-button.btn(type='submit') Change part definition
                  p(style="margin-top:5px;") Forced assembly strategy
                  select#part-fas
                    option(value="") None
                    option(value="DIGEST") DIGEST
                    option(value="direct-synth") Direct Synthesis
                    option(value="pcr") PCR
                    option(value="ember_in_primer_reverse") Ember_in_primer_reverse
                    option(value="ember_in_primer_forward") Ember_in_primer_forward
                    option(value="annealed oligos") Annealed Oligos
                  p#eugene-info
                  div#eugene(style="width:300px;overflow:hidden;")
                    table
                      thead
                        tr
                          th Name
                          th Operand 1
                          th Operator
                          th Operand 2
                      tbody#eugeneRules-table
                  br
                  button.btn.add-rule
                    | Add Rule
                  button.btn.edit-rules
                    | Edit Rules

                div.tab-pane.active#inspector-collection
                  form.form-inline
                    fieldset
                      .control-group
                        label.control-label(for='j5Ready') J5 Ready:
                        span.checkbox#j5Ready False
                      .control-group
                        label.control-label(for="combinatorial") Combinatorial:
                        span#combinatorial False
                      .control-group
                        .controls
                          .row
                            .span1
                              label.radio
                                input(type="radio",name="isCircular",value="true")
                                | Circular
                            .span1
                              label.radio
                                input(type="radio",name="isCircular",value="false")
                                | Linear
                      div(style="width:295px;overflow:scroll;")
                        table.table(style="background:white;")
                          thead
                            th Name
                            th Direction
                            th Items
                            th FAS
                            th DSF
                            th FRO
                            th 5Ex
                            th 3Ex
                          tbody#collection-table
                      .control-group
                        .btn.add-col Add Column
                        .btn.rm-col Remove Column
                        

                      p Abbreviations
                      p
                        strong FAS: 
                        |  Forced Assembly strategy
                      p Column content
                      textarea
    .modals                    
      #map-from-clipboard-modal.modal.hide.fade.in.hide
        .modal-header
          button.close(data-dismiss='modal') ×
          h3 Map from clipboard
        .modal-body
          .span6
            textarea#map-from-clipboard-data(style="width:520px;height:100px;",placeholder="Paste a FASTA, Genbank or jbei-seq sequence here")
            p.help-inline#map-from-clipboard-error
            br
            .btn.btn-primary#map-from-clipboard-save Save

      include j5-controls

      #loadModel.modal.hide.fade-in.hide
        .modal-header
          button.close(data-dismiss='modal') ×
          h3 Your models
        .modal-body
          table#loadModelsTable.table.table-bordered.table-striped
            colgroup
              col.span4
              col.span3
              col.span3
            thead
              th Name
              th Created
              th Last modified
            tbody
      #specifyPartDefinition-Modal.modal.hide.fade-in
        .modal-header
          button.close(data-dismiss='modal') ×
          h3 Specify Part Definition
        .modal-body
          form#part-definition-form
            label Part Name:
              input.span3(type='text', placeholder='Part Name…').part-name
            label Part Source:
              input.span3(type='text', placeholder='Part Source', disabled='disabled').part-source
            label Source Data:
              textarea.span6(placeholder='Part Name…',style="height:120px;", disabled='disabled').part-data
            .row
              .span2
                label Sequence
                  select.specified-sequence
                    option Whole Sequence
                    option Specified Sequence
              .span1.offset1
                label StartBP
                  input(type="number",step="1",style="width:40px").startBP.BPinputs
              .span1
                label StopBP
                  input(type="number",step="1",style="width:40px").stopBP.BPinputs
            label.checkbox.inline
              input.checkbox(type='checkbox',value="Reverse").reverse
              |  Reverse Complement 
            br
            button.btn(type='submit').submit Submit
            button.btn(type='cancel').cancel Cancel

      #editEugeneRules.modal.hide
        .modal-body
          table.table
            thead
              td 
                strong Name
              td 
                strong Operand 1
              td 
                strong Operator
              td 
                strong Operand 2
            tbody#eugene-rules-detail

      #eugeneRulesModal.modal.hide
        .modal-header
          button.close(data-dismiss='modal') ×
          h3 Add Eugene Rules
        .modal-body
          form#add-eugene-rule-form
            fieldset
              .control-group
                label Name:
                  .control
                    input.span3(type='text', placeholder='Name').name
              .control-group
                label Operand 1: 
                  span.operand1
              .control-group
                label Operator:
                .control
                  select.span3(type='text', placeholder='Operator').operator
                    option AFTER
                    option NOT AFTER
                    option BEFORE
                    option NOT BEFORE
                    option WITH
                    option NOT WITH
                    option THEN
                    option NOT THEN
                    option NEXT TO
                    option NOT NEXT TO
                    option MORETHAN
                    option NOT MORETHAN
              .control-group
                label Operand 2:
                .control
                  input.span3(type='number', value="1").operand2.hide
                  select.span3.operand2
            br
            button.btn.btn-primary(type='submit').submit Done
            button.btn.cancel Cancel
      script(data-main="assets/js/main", src="assets/js/require.js")