#j5Modal.modal(style="width:795px;margin-left:-397px;").hide
  .modal-header
    button.close(data-dismiss='modal') ×
    h3 j5 controls
  .modal-body(style="max-height:424px;")
      ul.nav.nav-tabs#j5-tabs
        li.active
          a(href='#j5-run') Run j5 on server
        li
          a(href='#j5-condense') Condense assembly Files
        li
          a(href='#j5-downstream') Downstream automation
        li
          a(href='#j5-files') j5 files
        li.hide
          a(href='#j5-params') j5 params
        li.hide
          a(href='#downstream-params') downstream params
      .tab-content
        .tab-pane.active#j5-run
          .span6(style="margin-left: 0px;")
            a(href="#")#edit-j5-params Edit j5 Parameters
          .span10(style="margin-left: 0px;")
            table
              thead
                tr
                  th(style="width:250px")
                  th(style="width:170px")
                  th(style="width:150px")
                  th(style="width:20px")
              tbody
                tr#master-plasmids-list
                  td 
                    strong Master Plasmids List:
                  td 
                    label(style="margin-bottom:0px;")
                      input.latest(type="radio",name="options1",value="TRUE",style="display:inline;")
                      |  Use latest server version
                  td
                    label(style="margin-bottom:0px;")
                      input(type="radio",name="options1",value="FALSE",style="display:inline;",checked)
                      |   Generate empty file
                  td 
                    .span2
                      input(type="radio",name="options1",value="FALSE",style="display:inline;")
                      label(style="margin-bottom:0px;display: inline;")
                        input#j5-plasm-file.hide(type="file",accept="text/*",var-filename="master_plasmids_list_filename",var-content="encoded_master_plasmids_file")
                        a.btn.btn-small(style="margin-left: 12px;",)
                          |  Select file
                tr#master-oligos-list
                  td 
                    strong Master Oligos List:
                  td 
                    label(style="margin-bottom:0px;")
                      input(type="radio",name="options2",value="TRUE",style="display:inline;")
                      |  Use latest server version
                  td
                    label(style="margin-bottom:0px;")
                      input(type="radio",name="options2",value="FALSE",style="display:inline;",checked)
                      |   Generate empty file
                  td 
                    .span2
                      input(type="radio",name="options2",value="FALSE",style="display:inline;")
                      label(style="margin-bottom:0px;display: inline;")
                        input#j5-oligos-file.hide(type="file",accept="text/*",var-filename="master_oligos_list_filename",var-content="encoded_master_oligos_file")
                        a.btn.btn-small(style="margin-left: 12px;")
                          |  Select file
                tr#master-direct-list
                  td 
                    strong Master Direct Synthesis List:
                  td 
                    label(style="margin-bottom:0px;")
                      input(type="radio",name="options3",value="TRUE",style="display:inline;")
                      |  Use latest server version
                  td
                    label(style="margin-bottom:0px;")
                      input(type="radio",name="options3",value="FALSE",style="display:inline;",checked)
                      |   Generate empty file
                  td 
                    .span2
                      input(type="radio",name="options3",value="FALSE",style="display:inline;")
                      label(style="margin-bottom:0px;display: inline;")
                        input#j5-direct-file.hide(type="file",accept="text/*",var-filename="master_direct_syntheses_list_filename",var-content="encoded_master_direct_syntheses_file")
                        a.btn.btn-small(style="margin-left: 12px;")
                          |  Select file
                tr
                  td 
                    Strong Assembly method
                  td
                    select#strong-ssembly-method
                      option(value="CombinatorialMock") Combinatorial Mock Assembly
                      option(value="CombinatorialSLICGibsonCPEC") Combinatorial SLIC/Gibson/CPEC
                      option(value="CombinatorialGoldenGate") Combinatorial Golden Gate

          .span5(style="margin-left:0px;margin-top:20px;")
            btn.btn#j5-run Run j5
            progress#j5-progress.progress-striped.active.hide(style="margin-left:20px;")
              .bar(style="width:40%;")
            p#j5-info

          .span10(style="margin-top:20px;margin-left: 0px;").hide#j5-results
            #download-zip
            .span5(style="margin-left: 0px;")
              table.table
                thead
                  tr
                    td Plasmids
                tbody#j5-output

          .span10(style="margin-left: 0px;")
           .row
              .span5
                progress#j5-progress.progress-striped.active.hide
                  .bar(style="width:40%;")
        .tab-pane#j5-condense
          h2 Condense assembly files
          .span10(style="margin-left: 0px;")
            table
              thead
                tr
                  th(style="width:250px")
                  th(style="width:170px")
                  th(style="width:150px")
                  th(style="width:20px")
              tbody
                tr
                  td
                    strong Assembly Files to Condense List:
                  td 
                    .span2
                      label(style="margin-bottom:0px;")
                        input#assembly-files-to-condense-list.hide(type="file",accept="text/*")
                        a.btn.btn-small
                          |  Select file
                tr 
                  td 
                    strong Zipped Assembly Files:
                  td 
                    .span2
                      label(style="margin-bottom:0px;")
                        input#zipped-assembly-files.hide(type="file",accept="application/zip")
                        a.btn.btn-small
                          |  Select file
          .span5(style="margin-left:0px;margin-top:20px;")
            btn.btn#condense-run Condense Assemblies
            progress#condense-progress.progress-striped.active.hide(style="margin-left:20px;")
              .bar(style="width:40%;")
            p#condense-info

        .tab-pane#j5-downstream
          h2 Downstream automation
          .span6(style="margin-left: 0px;")
            a#edit-downstream-params(href="#") Edit Downstream Parameters
          .span10(style="margin-left: 0px;")
            strong DISTRIBUTE PCR REACTIONS
            table
              thead
                tr
                  th(style="width:250px")
                  th(style="width:170px")
                  th(style="width:200px")
              tbody
                tr#downstream-parameters
                  td
                    strong Downstream Automation Parameters File:
                  td
                    label(style="margin-bottom:0px;")
                      input(type="radio",name="options",value="TRUE",style="display:inline;",disabled="disabled")
                      |  Use latest server version
                  td
                    label(style="margin-bottom:0px;")
                      input(type="radio",name="options",value="TRUE",style="display:inline;",checked)
                      |  Generate file from parameters
                tr
                  td
                    strong Source Plate List:
                  td 
                    .span2
                      label(style="margin-bottom:0px;")
                        input#downstream-source-plate-list.hide(type="file",accept="text/*")
                        a.btn.btn-small
                          |  Select file
                tr
                  td
                    strong Zipped Plate List:
                  td 
                    .span2
                      label(style="margin-bottom:0px;")
                        input#downstream-zipped-plate-files.hide(type="file",accept="text/*")
                        a.btn.btn-small
                          |  Select file
                tr
                  td
                    strong J5 Assembly File:
                  td 
                    .span2
                      label(style="margin-bottom:0px;")
                        input#downstream-j5-assembly-files.hide(type="file",accept="text/*")
                        a.btn.btn-small
                          |  Select file
          .span5(style="margin-left:0px;margin-top:20px;")
            btn.btn#distribute-run Distribute PCR Reactions
            progress#downstream-progress.progress-striped.active.hide(style="margin-left:20px;")
              .bar(style="width:40%;")
            p#downstream-info

        .tab-pane#j5-files
          h2 j5 Files
        .tab-pane#j5-params
          h2 j5 Parameters
          form.form-horizontal
              .span8
                .row
                  .span4
                    label Master Oligo Num of Digits (5)
                      input(name="MASTEROLIGONUMBEROFDIGITS",type="number",value="5")
                    label Master Plasmid Num of Digits (5)
                      input(name="MASTERPLASMIDNUMBEROFDIGITS",type="number",value="5")
                    label Gibson Overlap BP's (26)
                      input(name="GIBSONOVERLAPBPS",type="number",value="26")
                    label Gibson Overlap Min Tm (60)
                      input(name="GIBSONOVERLAPMINTM",type="number",value="60")
                    label Gibson Overlap Max Tm (70)
                      input(name="GIBSONOVERLAPMAXTM",type="number",value="70")
                    label Maxium Num of Oligo BPs (110)
                      input(name="MAXIMUMOLIGOLENGTHBPS",type="number",value="110")
                    label Minium Num Gibson Fragment Size BPs (250)
                      input(name="MINIMUMFRAGMENTSIZEGIBSONBPS",type="number",value="250")
                    label Golden Gate Overhang BP's (4)
                      input(name="GOLDENGATEOVERHANGBPS",type="number",value="4")
                    label Golden Gate Recognition Sequence (GGTCTC)
                      input(name="GOLDENGATERECOGNITIONSEQ",type="text",value="GGTCTC")
                    label Golden Gate Term Extra Seq (CACACCAGGTCTCA)
                      input(name="GOLDENGATETERMINIEXTRASEQ",type="text",value="CACACCAGGTCTCA")
                    label Max Indentities Golden Gate Overhangs (2)
                      input(name="MAXIMUM_IDENTITIES_GOLDEN_GATE_OVERHANGS_COMPATIBLE",type="number",value="2")
                    label Oligo Synthesis Cost Per BP (US) (0.1)
                      input(name="OLIGOSYNTHESISCOSTPERBPUSD",type="text",value="0.1")
                    label Oligo Purification Cost Per Piece (US) (40)
                      input(name="OLIGOPAGEPURIFICATIONCOSTPERPIECEUSD",type="number",value="40")
                    label Oligo Max Length No Page Purification (60)
                      input(name="OLIGOMAXLENGTHNOPAGEPURIFICATIONREQUIREDBPS",type="number",value="60")
                    label Minimum PCR Product BPs (100)
                      input(name="MINIMUMPCRPRODUCTBPS",type="number",value="100")
                    label Direct Synthesis Cost Per BP (0.39)
                      input(name="DIRECTSYNTHESISCOSTPERBPUSD",type="text",value="0.39")
                    label Direct Synthesis Min. Cost Per Piece (US) (159)
                      input(name="DIRECTSYNTHESISMINIUMUMCOSTPERPIECEUSD",type="number",value="159")
                    label Output Sequence Format (Genbank)
                      select(name="OUTPUT_SEQUENCE_FORMAT")
                        option Genbank
                        option FASTA
                        option jbei-seq
                        option SBOLXML
                    p (Default listed in parenthesis)
                    button.btn.defaults Return to Defaults
                    button.btn.ok Ok
                    button.btn.latest.returnTolatest Return to Server Values

                  .span4
                    label Primer GC Clamp (2)
                      input(name="PRIMER_GC_CLAMP",type="number",value="2")
                    label Primer Min Size (18)
                      input(name="PRIMER_MIN_SIZE",type="number",value="17")
                    label Primer Max Size (36)
                      input(name="PRIMER_MAX_SIZE",type="number",value="36")
                    label Primer Min Tm (60)
                      input(name="PRIMER_MIN_TM",type="number",value="60")
                    label Primer Max Tm (70)
                      input(name="PRIMER_MAX_TM",type="number",value="70")
                    label Primer Max Tm Diff (5)
                      input(name="PRIMER_MAX_DIFF_TM",type="number",value="5")
                    label Primer Max Self Compl Any TH (47)
                      input(name="PRIMER_MAX_SELF_ANY_TH",type="number",value="47")
                    label Primer Max Self Compl End TH (47)
                      input(name="PRIMER_MAX_SELF_END_TH",type="number",value="47")
                    label Primer Pair Max Compl Any TH (47)
                      input(name="PRIMER_PAIR_MAX_COMPL_ANY_TH",type="number",value="47")
                    label Primer Pair Max Compl End TH (47)
                      input(name="PRIMER_PAIR_MAX_COMPL_END_TH",type="number",value="47")
                    label Primer Tm Santa Lucia (true)
                      select(name="PRIMER_TM_SANTALUCIA",type="text",value="true")
                        option(value="true") True
                        option(value="false") False
                    label Primer Salt Corrections (true)
                      select(name="PRIMER_SALT_CORRECTIONS",type="text",value="true")
                        option(value="true") True
                        option(value="false") False
                    label Primer DNA Conc (250)
                      input(name="PRIMER_DNA_CONC",type="number",value="250")
                    label MisPriming 3Prime Boundary (4)
                      input(name="MISPRIMING_3PRIME_BOUNDARY_BP_TO_WARN_IF_HIT",type="number",value="4")
                    label Mispriming Min Tm (45)
                      input(name="MISPRIMING_MIN_TM",type="number",value="45")
                    label MisPriming Salt Conc (0.05)
                      input(name="MISPRIMING_SALT_CONC",type="text",value="0.05")
                    label Mispriming Oligo Conc (2.5e-7)
                      input(name="MISPRIMING_OLIGO_CONC",type="text",value="2.5e-7")
                    label Suppress Pure Primers (true)
                      select(name="SUPPRESS_PURE_PRIMERS",type="text",value="true")
                        option(value="true") True
                        option(value="false") False
                    btn.btn.hide Cancel
                    

        .tab-pane#downstream-params
          h2 Downstream Automation Parameters
          form.form-horizontal
              .span9
                .row
                  .span5
                    label Max Delta Temp Adjacent Zones (5)
                      input(name="MAXDELTATEMPERATUREADJACENTZONES",type="number",value="5")
                    label Max Delta Temp Reaction Optium Zone Acceptable (5)
                      input(name="MAXDELTATEMPERATUREREACTIONOPTIMUMZONEACCEPT",type="number",value="5")
                    label Max MC Steps Per Zone (1000)
                      input(name="MAX MC STEPS PER ZONE",type="number",value="1000")
                    label Max Well Volume Multi-well Plate (100)
                      input(name="MAXWELLVOLUMEMULTI-WELLPLATE",type="number",value="100")
                    label MC Temp Final (0.0001)
                      input(name="MCTEMPFINAL",type="text",value="0.0001")
                    label MC Temp Initial (0.1)
                      input(name="MCTEMPINITIAL",type="text",value="0.1")
                    button.btn.defaults Return to Defaults
                    button.btn.ok Ok
                  .span4
                    label Min Pipetting Volume (5)
                      input(name="MINPIPETTINGVOLUME",type="number",value="5")
                    label Num Column in Multi-well Plate (12)
                      input(name="NUMCOLUMNINMULTI-WELLPLATE",type="number",value="12")
                    label Num Rows in Multi-well Plate (8)
                      input(name="NUMROWSINMULTI-WELLPLATE",type="number",value="8")
                    label Trial Delta Temp (0.1)
                      input(name="TRIALDELTATEMP",type="text",value="0.1")
                    label Wells Per Thermocycler Zone(16)
                      input(name="WELLSPERTHERMOCYCLERZONE",type="number",value="16")
                    label Zones Per Thermocycler Block (6)
                      input(name="ZONESPERTHERMOCYCLERBLOCK",type="number",value="6")

#j5ResultsModal.modal(style="width:850px;margin-left:-410px;").hide
  .modal-header
    button.close(data-dismiss='modal') ×
    h3 j5 Results
  .modal-body
    .span10
      .row
        .span5(style="margin-top:20px;margin-left: 0px;")#j5-results
          #download-zip
          .span5(style="margin-left: 0px;")
            h2 Plasmids
            table.table
              tbody#j5-output
        .span5
          iframe(src="", name="viewer",frameborder="1",scrolling="yes",style="width:376px;height: 296px;")
          // object(object-type="text/html", data="http://eaa.teselagen.com/vectoreditor/outputDE", width="300", height="300")

