!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Vector Editor
    meta(name='apptype', content='ve')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    script(src="/assets/js/lib/jquery.min.js")

    script
        $(function() {

        $("#sendMessageToB").click(function(){
            console.log(window.parent.frames.length + " Active iframes");
            window.parent.frames[1].postMessage('Message from A to B', document.URL + 'A');
        });
        
        
        window.addEventListener('message', receiver, false);
        function receiver(e) {
            alert(e.data);
        }
        
        });
  body
    h1 Vector Editor
    button#sendMessageToB Send Message to DE