extends layout
  
block container
  - var team = []
  - team.push({ name: 'Mike Fero, Ph.D.', picid: 'mike-pic', position: 'Founder and Chief Executive Officer', description:  'Mike Fero was an NIH Quantitative Research Career Fellow and principal investigator at Stanford, studying the role of protein localization and the essential genomic elements needed for bacterial life. With Pat Brown and David Botstein Michael directed the development of the first full-genome human DNA microarrays. Before joining Stanford, he was VP of Software Engineering at Neomorphic, a computational genomics company acquired by Affymetrix, and a consulting scientist at Hyperparallel, a data mining company acquired by Yahoo!. Mike has over 40 publications in peer-reviewed journals and holds a Ph.D. in Elementary Particle Physics from the University of California at Irvine.',image : 'team/mfero_teselagen_pic2.jpg'})

  - team.push({ name: 'Eduardo Abeliuk, Ph.D.', picid: 'ed-pic', position: 'Founder and Chief Technology Officer', description:  'Dr. Abeliuk received his Ph.D. studying how bacterial cells divide using high-throughput genetic and molecular biology techniques. His work has been published by multiple international journals and holds patent app. USSN 61/501,073. While at Stanford, he started, built and sold KissMe LLC and also founded Classroom.tv, Inc. KissMe was an application that hit a million users within the first few weeks and was acquired in 2009. Prior coming to Stanford, Eduardo was at SMaL Camera Tech., an MIT startup acquired by Cypress Semi. He also interned at Motorola, Synopsys and Lightspeed Venture Partners. Eduardo holds a Ph.D. in Electrical Engineering from Stanford University.',image : 'team/eabeliuk_teselagen_pic.jpg'})

  - team.push({ name: 'Nathan Hillson, Ph.D.', picid: 'nat-pic', position: 'Founder and Chief Scientific Officer', description:  'Dr. Hillson is a Research Scientist at LBNL and Director of Synthetic Biology at the Joint BioEnergy Institute (JBEI) and works towards the sustainable production of clean biofuels. Nathan directs the development of the JBEI bio parts registry, the characterization and standardization of biological parts, the computer-aided design of biological pathways and circuits invoking the standardized parts, and the automated assembly of the pathways and incorporation into microbial hosts. Nathan was a post-doctoral fellow at Stanford where his work led to several publications and US Patent App. No. 60/900,628. Nathan holds a Ph.D. in Biophysics from Harvard University.',image : 'team/nhillson_teselagen_pic.jpg'})

  - team.push({ name: 'Adam Arkin, Ph.D.', picid: 'ark-pic', position: 'Scientific Advisor', description:  'Dr. Arkin is Director of the Synthetic Biology Institute and of the Physical Biosciences Division at Lawrence Berkeley National Laboratory (LBNL), and the Dean A. Richard Newton Memorial Professor in UC Berkeley’s Department of Bioengineering. He is also co-director of the Virtual Institute of Microbial Stress and Survival, director of bioinformatics at the Joint Bioenergy Institute, and co-director of BIOFAB (International Open Facility Advancing Biotechnology). His research centers on uncovering the evolutionary design principles of cellular networks and populations and exploiting them for applications in health, the environment, and bioenergy. He was named a Fellow of the American Academy of Microbiology in 2007 and, and has been profiled in Time Magazine as a “future innovator". A member of the University of California at Berkeley faculty since 1999, he earned his Ph.D. in Physical Chemistry from Massachusetts Institute of Technology.',image : 'team/aarkin_teselagen_pic.jpg'})
  
  - team.push({ name: 'Keith Wilson, Ph.D.', picid: 'wilson-pic', position: 'Scientific Advisor', description:  'Dr. Keith Wilson is the Director of Discovery at at AbbVie. Keith has led research efforts through the corporate transition of PDL BioPharma into Facet Biotech, Abbott Laboratories and now AbbVie. He has led internal scientific and business reviews of pipeline portfolio and strategy leading to corporate directional change and has been responsible for implementation of new pipeline strategies. He was a Postdoctoral Fellow at Stanford University and later the Director of Computational Biology and Genomics at EOS Biotechnology and PDL BioPharma. Dr. Wilson holds Ph.D. in Biochemistry and Molecular Biology from Oregon Health and Science Uniersity.',image : 'team/aarkin_teselagen_pic.jpg'})

  - team.push({ name: 'Sarah Richardson, Ph.D.', picid: 'richardson-pic', position: 'Scientific Advisor', description:  'Dr. Richardson is a Distinguished Postdoctoral Fellow in Genomics at Lawrence Berkeley National Lab, working at the Joint Genome Institute on massive scale synthetic biology projects in biogeochemistry and bioremediation. Sarah has developed state of the art tools for the rapid, automated design of multikilobase synthetic genes and the automated design of assemblable, modular, synthetic chromosomes. Sarah is the recipient of the Turock Award for Promising Young Scientists and the Jupur Dinesh Thekdi Award from Johns Hopkins University. Sara holds a Ph.D. in Human Genetics from the Johns Hopkins University.',image : 'team/aarkin_teselagen_pic.jpg'})

  #mission
    .row
      .large-12.small-12.page-header Mission
      .large-12.small-12.box-content
        p Recent advances in multiple restriction site free (MCS-free) cloning technologies by scientists working in synthetic biology have opened new opportunities for instruction, basic research, and industrial biotechnology. These advances are being made in response to the increasing demand for large-scale DNA assemblies, up to and including entire genomes.
        p At TeselaGen, we are building a bioCAD/CAM rapid prototyping system for biology. Our mission is to provide a design-build-test-evolve platform for automated combinatorial DNA assembly, meeting our customer's need for well managed, scalable, and very low-cost DNA construction and assembly. 

  #platform
    .row
      .large-12.small-12.page-header Platform Overview
      .large-12.small-12.box-content
        p TeselaGen provides a revolutionary DNA design and assembly protocol generation service decoupling DNA design from any underlying assembly method, providing the most advanced Bio CAD/CAM system available. Taking full advantage of both in-house DNA constructs and the rapidly falling cost of de novo DNA synthesis, TeselaGen optimizes across a broad range of modern assembly techniques to produce fully scar-less DNA sequence assembly instructions ready for use at the bench or via automation. This approach releases the biologist from the major time, cost, and functionality limitations of traditional cloning to not only deliver the best overall assembly protocol, but to also create DNA constructs that may not be achievable by any other means. With TeselaGen's proprietary technology, these advances are now available for biologists at all levels of expertise who wish to assemble DNA simply, reliably, inexpensively, and with high fidelity. 
        h4 Forward Design
        p TeselaGen is the only scar-less DNA design and assembly system that can automatically and comprehensively construct and manage the combinatorial libraries required to implement modern screening and directed evolution efforts. TeselaGen allows for the incremental accumulation and application of design rules to automatically eliminate known dead end constructs as new biological knowledge is acquired - essential for success when working with combinatorial libraries with millions of constructs. With protocol optimization built in, TeselaGen automatically identifies assembly incompatibilities and suggests workarounds. 
        h4 Scarless Assembly
        p With TeselaGen, biologists always produce scar-less DNA allowing for the accumulation and reuse of intermediate constructs during DNA construction. Because the introduction of uncontrolled scar sequences can easily impact DNA efficacy, TeselaGen releases the biologist from the impact of scar sequences providing high fidelity, scar-less assembly.
        h4 Optimization and Automation
        p Using modern standardized techniques, employing the exact same reagents at every step, TeselaGen allows many pieces of DNA to be assembled at the same time in the same reaction allowing multiple assembly steps to be chained without limit. TeselaGen's modern techniques are sequence independent and its design processes and algorithms are completely independent of the DNA being constructed. As a result, TeselaGen is extremely scalable, allowing biologists to pursue unrelated DNA construction projects together in parallel on the same robotic platform at the same time. 
        h4 Cost Effectiveness
        p One of the most powerful features of TeselaGen is its ability to cost-optimize DNA assembly. Because TeselaGen fully leverages all available synthesis routes, including DNA synthesis as well as available in-house constructs, it can optimize the DNA assembly method to achieve the lowest possible cost. 

  #team
    .row
      .large-12.small-12.page-header Leadership
      each person in team
        .row.team-member
          .large-2.small-2.columns
            .circle_outer(id= person.picid )
              .circle_inner
          .large-10.small-10.columns
            .team-head
              strong= person.name
            .team-sub
              text= person.position
            .team-info
              p= person.description