extends layout

block container

    #commercial.row
        .large-2.small-2.columns
            p TERMS
            ul.side-nav
                li
                    a(href="/terms") Terms of Service
                li
                    a(href="/commercialuse") Commercial Use
                li.active
                    a(href="/acceptableuse") Acceptable Use
                li
                    a(href="/pricingterms") Pricing Terms
                li
                    a(href="/security") Security

        .large-10.small-10.box-content.columns
                h3 TeselaGen Acceptable Use Policy
                p TeselaGen is used by hundreds of dedicated researchers around the world, and we are proud of the trust placed in us. In exchange, we trust you to use our services responsibly. You agree not to misuse the TeselaGen services. For example, you must not, and must not attempt to, use the services to do the following things.
                    * probe, scan, or test the vulnerability of any system or network;
                    * breach or otherwise circumvent any security or authentication measures;
                    * access, tamper with, or use non-public areas of the Service, shared areas of the Service you have not been invited to, TeselaGen (or our service providers') computer systems;
                    * interfere with or disrupt any user, host, or network, for example by sending a virus, overloading, flooding, spamming, or mail-bombing any part of the Services;
                    * plant malware or otherwise use the Services to distribute malware;
                    * access or search the Services by any means other than our publicly supported interfaces (for example, "scraping");
                    * send unsolicited communications, promotions or advertisements, or spam;
                    * send altered, deceptive or false source-identifying information, including "spoofing" or "phishing";
                    * publish anything that is fraudulent, misleading, or infringes another's rights;
                    * impersonate or misrepresent your affiliation with any person or entity;
                    * violate the law in any way, or to violate the privacy of others, or to defame others;
                    * attempt to create DNA for malicious intent.