extends layout

block meta
    title TeselaGen Biotechnology - Contact Us
    meta(name='description', content='Reach out to learn more about TeselaGen services.')

block container

    #contact
        .row
            .large-12.small-12.page-header 
                h1 Contact Us
            .large-12.small-12#contact-map
              iframe(width='100%', height='465', max-height='525', frameborder='0', src='https://a.tiles.mapbox.com/v3/tim98210.map-0t3qsyen.html#13/37.78061965350541/-122.40692138671874')
            .large-12.small-12#contact-info
              .large-6.small-6.columns
                h4 Mailing Address:
                | TeselaGen Biotechnology, Inc.
                br
                | 1700 4th Street, MC 2522
                br
                | San Francisco, CA 94158
                br
              .large-6.small-6.columns
                h4 Street Address:
                | TeselaGen Biotechnology, Inc.
                br
                | QB3/Pharm-Chem Digital Health Garage
                br
                | 600 16th Street, Genentech Hall N474D
                br
                | San Francisco, CA
                br
              .large-12.small-12.columns
                p For business inquiries or other questions, please contact: Contact [at] Teselagen [dot] com
    #push