extends layout

block container

  center
    img(src="img/teselagen_newlogo.png",style="width:500px;margin-top:20px;margin-bottom:80px;")

  h1.welcome1 
    | We are developing a revolutionary Biological Design Automation system, and currently testing our 
    span.highlight beta 
    | product with over 
    span.highlight 100 scientists
    |  and 
    span.highlight engineers.