extends layout

block container

	.row#land-top
		.large-7.small-12.columns#land-side
			.large-12.small-12.columns
				#banner_head 
					h1 Revolutionizing biological systems design.
			.large-12.small-12.columns
				#banner_head_sub A DNA design and assembly platform providing the most advanced Bio CAD/CAM system available.
		.large-5.small-12.columns#land-form
			form(data-validate="parsley")#signup_form.custom
				.row
					.row
						.large-6.small-12.columns
							input(type='text', id='first_name', placeholder='First Name', data-required="true")
						.large-6.small-12.columns
							input(type='text', id='last_name', placeholder='Last Name', data-required="true")
					.row
						.large-6.small-12.columns
							input(type='text', id='username', placeholder='Username', data-required="true", data-type="alphanum")
						.large-6.small-12.columns
							input(type="password", id='password', placeholder='Password', data-required="true")
					.row
						.large-12.small-12.columns
							input(type='email', id='email', placeholder='Email', data-required="true", data-type="email")
					.row
						.large-12.small-12.columns
							select(id='organizationType', data-required="true")
								option(value="", selected="selected", disabled="disabled") Select organization type
								option(value="academic") Academic
								option(value="government") Government
								option(value="commercial") Commercial
								option(value="independent") Independent
					.row
						.large-12.small-12.columns
							input(type='text', id='organizationName', placeholder='Company/University Name', data-required="true")
					.row.registration-buts
						a.button.radius.expand#signup_submit Sign Up
						p.signup-note By clicking 'Sign Up' above, you agree to the <a href="http://teselagen.com/terms">Terms Of Service</a> and <a href="http://teselagen.com/privacy">Privacy Policy</a>.	

	.row#banner
		#banner_around
			#banner_back
				.large-12.small-12#banner_front
					#banner_content
						.large-3.small-12.columns.bandiv
							.large-12.small-12.icon
								img(src="img/icons/icon-design.png")
							.large-12.small-12.icon-content
								.icon-text Design
								.icon-desc Create biological parts and arrange them into complete DNA constructs.
						.large-1.hide-for-small.columns.step-sep
							img(src='img/icons/blue_arrow2.png')
						.large-3.small-12.columns.bandiv
							.large-12.small-12.icon
								img(src="img/icons/icon-scarless.png")
							.large-12.small-12.icon-content
								.icon-text Optimize
								.icon-desc Automatically generate effective and cost-efficient assembly instructions.
						.large-1.hide-for-small.columns.step-sep
							img(src='img/icons/blue_arrow2.png')
						.large-3.small-12.columns.bandiv
							.large-12.small-12.icon
								img(src="img/icons/icon-automate.png")
							.large-12.small-12.icon-content
								.icon-text Assemble
								.icon-desc Assemble DNA through downstream integration to liquid-handling robots
	#section
		.row
			.large-12.small-12#showcase
				#header2 TeselaGen is developing a fully integrated solution for synthetic biology.
		.row
			.large-3.small-12.columns
				a(href='/about')
					.showcase_block_back
						.showcase_block.columns.section-link
							.large-12.small-12.showcase_head
								h4 USER FRIENDLY
							.large-12.small-12.showcase_text An amazingly simple and intuitive interface that lets you focus on the beauty of your genetic design.
			.large-3.small-12.columns
				a(href='/about')
					.showcase_block_back
						.showcase_block.columns.section-link
							.large-12.small-12.showcase_head
								h4 SCARLESS
							.large-12.small-12.showcase_text Our protocols ensure a flawless part assembly.
			.large-3.small-12.columns
				a(href='/about')
					.showcase_block_back
						.showcase_block.columns.section-link
							.large-12.small-12.showcase_head
								h4 AUTOMATED
							.large-12.small-12.showcase_text Drastically improve turnaround with the ability to rapidly assemble multi-gene plasmids.
			.large-3.small-12.columns
				a(href='/about')
					.showcase_block_back
						.showcase_block.columns.section-link
							.large-12.small-12.showcase_head
								h4 SCALABLE
							.large-12.small-12.showcase_text Take combinatorial design to the next level with our scalable platform.


	//- #section-updates
	//- 	.row
	//- 		#updates.large-12.small-12
	//- 			#upcoming_events.large-5.small-5.columns.update-box
	//- 				h4 Upcoming Events
	//- 				img(src='img/site_resources/synbiobeta-nov6.png')
	//- 				p.event-title November 15, 2013 San Francisco, California
	//- 				p.event-description A conference for synthetic biology startups, industry leaders, and investors to engage and discuss advances in the field.
	//- 				p.event-description Don't miss out on a first hand look into our new and re-energized platform for enabling DNA assembly and automation!
	//- 				p.event-link
	//- 					a(href="http://synbiobeta.com/sf/2013/") Learn More
	//- 			.large-1.small-1.columns
	//- 			#recent-news.large-6.small-6.columns.update-box
	//- 				h4 Recent News
	//- 				a.twitter-timeline(href="https://twitter.com/TeselaGen", data-widget-id='349663261735661570', data-chrom='nofooter transparent') Recent News
	//- 				script(type="text/javascript"). 
	//- 					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

	#section-sponsors
		.large-12.small-12
			img(src="img/site_resources/sponsors.png")