!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title TeselaGen Biotechnology
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Teselagen Biotechnology')
    meta(name='author', content='')
    
    // Le styles
    link(href='/css/foundation.min.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')

    // fav and touch icons 
    //- link(rel='shortcut icon', href='ico/favicon.ico')
    //- link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')

    // fonts
    script(type='text/javascript', src='//use.typekit.net/wnz0zph.js')
    script(type='text/javascript') try{Typekit.load();}catch(e){}
    
  body
    nav.top-bar.hide-for-small
      ul.title-area
        li.name
          img(src='img/teselagen_toplogo.png')
        li.toggle-topbar
      section.top-bar-section
        ul.right
          li#home_tab.active
            a.active_top_menu(href='/') Home
          li#about_tab
            a(href='/about') About
          li#faq_tab
            a(href='/faq') FAQ
          li#news_tab
            a(href='/news') News
          li#blog_tab
            a(href='/blog') Blog
          li#contact_tab
            a(href='/contact') Contact  
          li.signup_btn
            a(href='/user/signup') Signup
          li.login_btn
            a(href='/userlogin') Login
    
    block container


    block scripts
      // le javascripts
      script(src='/js/jquery-1.10.2.min.js')
      script(src='/js/foundation.min.js')
      //- script(src='/js/teselagen.js')