extends layout

block meta
    title TeselaGen Biotechnology - Recent News & Updates
    meta(name='description', content='Recent Updates and Press for TeselaGen Biotechnology.')

block container

    #press
        .row
            .large-12.small-12.page-header 
                h1 News
            .large-12.small-12.box-content
                h4.press-date October 22, 2013
                h4 TeselaGen wins Bio-IT World's 2013 Best Practices Award 
                p.press-content
                    |"There are plenty of plaudits for organizations in the life sciences that change the industry’s conceptions of what is possible, but one purpose of the Bio-IT World Best Practices Awards is to highlight those who refine those achievements until the merely possible becomes truly practical. That is why Bio-IT World was pleased to award an honorable mention at the 2013 Best Practices Awards to TeselaGen Biotechnology, a startup that spun out from the Berkeley Lab’s Joint BioEnergy Institute (JBEI) in 2011, and Amgen for the development of TeselaGen: j5, an automated platform for designing DNA assembly protocols. This new, cloud-based platform allows even small institutions to quickly find the most cost-effective protocols for assembling scarless, multipart DNA."
                    br
                    a(href="http://www.bio-itworld.com/els/2013/10/22/faster-scarless-assemblies.html") Read More
            .large-12.small-12.box-content
                h4.press-date August 28, 2013
                h4 Redbiotec and TeselaGen to Partner on Herpesvirus vaccine library
                p.press-content
                    a(href="http://www.redbiotec.ch/index.html") Redbiotec 
                    | and TeselaGen have announced a joint venture to build a scalable, integrated, rapid design and rapid prototyping infrastructure for the creation of a library for Herpesvirus vaccine development. This library will enable new concepts for vaccines against Herpesviruses and will enable the optimization and improvement of new and existing vaccine candidates.
                    br
                    br
                    | Redbiotec will contribute its proprietary rePAX® technology for production of virus-like particles (VLPs) and multi- protein complexes and their expertise in the field of HCMV (human cytomegalovirus) to build a verified library of VLPs/multi-protein complexes for vaccine development and testing. By using TeselaGen’s technology, Redbiotec expects to accelerate the development of the new library. This library also will help reveal potential causes of virus latency and help elucidate virus-triggered cancer mechanisms.
                    br
                    br
                    | TeselaGen will contribute its proprietary Synthetic Evolution® technology, which uses synthetic biology approaches to build and modify DNA, and automate library creation, as well as statistical learning approaches to model performance of VLPs/multi-protein complexes and feed information back into the design process. The two companies will work together to enhance their respective technologies to meet’s the joint venture’s objectives.
                    br
                    br
                    | Redbiotec’s deep experience in VLP production and synthetic virology is very valuable to TeselaGen as we develop our technology to solve real world problems. We are very impressed with Redbiotec’s work on HCMV and are eager to help speed the development pipeline to go after vaccine candidates for Herpes,” said Michael Fero, CEO, TeselaGen. “Our partnerships with key industrial sectors in biotechnology are allowing us to build technology that adds a great deal of real- world value. We are convinced our synthetic biology approaches are going to prove very successful.”
                    br
                    br
                    | “TeselaGen’s experience and capabilities in automated DNA design are very important to Redbiotec”, said Christian Schaub, CEO, Redbiotec. “Our concept for novel Herpesvirus vaccines candidates requires the collection of a large amount of data on DNA as well as on manufacturing and analysis of the expressed viral constructs. In 2012 we surveyed the market for potential partners and discovered an ideal strategic partner in TeselaGen. TeselaGen is at the leading edge in terms of creating bio design technology that talks directly to high-throughput bio-production. After our achievements with HCMV vaccine development we are excited to apply both partners’ skills and technology to extend our pipeline further into Herpesviruses.”
            .large-12.small-12.box-content 
                h4.press-date July 9, 2013
                h4 Genomatica Licenses TeselaGen Software for DNA Design
                p.press-content 
                    a(href='http://www.genomatica.com') Genomatica 
                    | and TeselaGen have signed a multi-year agreement to license TeselaGen’s software, which uses synthetic biology approaches to build and modify DNA. The two companies also will work together to enhance TeselaGen’s software to meet Genomatica’s objectives.
                    br
                    br
                    | By using TeselaGen’s technology, Genomatica expects to accelerate development of its proprietary organisms.  These organisms are an important part of the overall process technology that Genomatica delivers to its licensees for the production of major chemicals from renewable feedstocks. TeselaGen’s software provides an advanced biological computer aided design and manufacture system, with automated DNA design and assembly protocol generation.
                    br
                    br
                    | “Genomatica’s deep expertise in microbial strain development is very valuable to TeselaGen as we develop our software to solve real problems faced by industrial biologists,” said Michael Fero, CEO, TeselaGen. “Our academic roots have given us a firm platform on which to build, but now we’re focused on meeting the needs of industrial customers working to solve very difficult practical problems. This new relationship with Genomatica is ideal from our perspective.”
                    br
                    br
                    | “TeselaGen’s experience and capabilities in automated DNA design and cloning will be very helpful to Genomatica as we continue to advance high-throughput technologies for strain engineering,” said Mark Burk, CTO, Genomatica. “We have seen many different technologies emerging in this space, and TeselaGen brought clear, distinct and compelling value.”
            .large-12.small-12.box-content
                h4.press-date January 2, 2013
                h4 TeselaGen wins DOE award.
                p.press-content
                    a(href='http://www.lygos.com') Lygos Inc.
                    | , and TeselaGen Biotechnology Inc., have won a 
                    a(href='http://www.doe.gov') Department of Energy
                    | , Energy Efficiency & Renewable Energy Grant entitled: "Design and Optimization of a Biochemical Production Platform with Biosensor Guided Evolution". The overall goal of this project is to develop efficient, inexpensive methods and tools to convert biomass into common and specialty chemicals. TeselaGen and Lygos have collaborated on the authorship of several grant proposals in the renewable fuels and chemical space, but this is the first to secure funding. TeselaGen founder and CEO Michael Fero commented that
                    i
                    | "This is a big effort on the part of Lygos and TeselaGen to change the way that R&D is being done today and to build tools and approaches that will push the field faster. We are very happy to be collaborating with a group like Lygos that knows the business of turning microbes into chemical factories"
                    | . The grant speaks to TeselaGen's effort to build a software framework encompassing a "Design, Build, Test and Evolve" methodology. This grant speaks to the Evolve aspect of that methodology and will be used to build software systems that work in close conjunction with DNA construction for the purpose of microbe modification and improvement as microbial chemical factories.
            .large-12.small-12.box-content
                h4.press-date December 29, 2012
                h4 TeselaGen wins a 2nd NSF SBIR Phase I Award.
                p.press-content
                    | TeselaGen Biotechnology has secured a 2nd 
                    a(href='http://www.nsf.gov') National Science Foundation 
                    | Small Business Innovation and Research grant (SBIR Phase I) to pursue "Directed DNA Synthesis and Assembly". The grant is focused on the "Build" aspect of TeselaGen's four-step approach to software for synthetic biology, encompassing a "Design, Build, Test, and Evolve" methodology.
            .large-12.small-12.box-content
                h4.press-date July 15, 2012
                h4 TeselaGen wins exclusive license for the j5 technology from LBNL.
                p.press-content
                    | TeselaGen Biotechnology Inc.,  a San Francisco based synthetic biology company, announced that it has secured an exclusive license in all fields of use for the "j5" gene assembly software from 
                    a(href='http://www.lbl.gov') Lawrence Berkeley National Laboratory 
                    | . TeselaGen prevailed with the strongest proposal to promote and leverage the j5 technology for their rapid prototyping system for synthetic biology. Based on the idea that a forward engineering approach needs to incorporate the utility of both biology and engineering in the quest for easier and faster ways to build biomolecules, TeselaGen is expecting the j5 technology to play an important role in its software as a service offering. The j5 software package, which has attracted users from more than 250 institutions worldwide since it was made available last year, emerged from the 
                    a(href='http://www.jbei.org/') Joint BioEnergy Institute
                    | , a 
                    a(href='http://www.doe.gov/') Department of Energy 
                    | research center established in 2007 to pursue breakthroughs in the production of cellulosic biofuels. By building on j5 and adding modules for commercial users, TeselaGen Biotechnology, says it will significantly reduce the time and cost involved with DNA synthesis and cloning, a multibillion-dollar market.

            .large-12.small-12.box-content
                h4.press-date July 1, 2012
                h4 TeselaGen wins NSF SBIR Phase I Award.
                p.press-content
                    | TeselaGen Biotechnology has secured a 
                    a(href='http://www.nsf.gov') National Science Foundation 
                    | Small Business Innovation and Research grant (SBIR Phase I) to pursue "A Synthetic Biology Design-Build-Test Platform for Automated Combinatorial DNA Assembly".  The grant focuses on the first part of TeselaGen's Design, Build, Test, Evolve approach to biomolecule design. According to TeselaGen CEO Michael Fero 
                    i
                        | "We decided to put the design principles of Synthetic Biology to the test, building our software framework along lines that model the forward engineering approach, while not ignoring the special ability of biological systems to design themselves through evolutionary mechanisms"
            .large-12.small-12.box-content
                h4.press-date June 1, 2011
                h4 Teselagen is accepted at UCSF's "Digital Health Garage"
                p.press-content  Teselagen is accepted as the first occupant of the QB3 Incubator's newly created "Digital Health Garage", located in the Genentech Hall of the the Universiy of California San Francisco.

    #media
        .row
            .large-12.small-12.page-header 
                h1 In The Media
            .large-12.small-12.box-content
                h4.press-date January 7, 2013
                h4
                    a(href="http://nygenome.org/blog/biotechs-explore-role-3d-printing-drug-development", target="_blank") Biotechs Explore Role for 3D Printing In Drug Development
                p.press-content TeselaGen Biotechnology developing technology to manufacture re-engineered microbes for drug development and beyond.
            .large-12.small-12.box-content
                h4.press-date January 3, 2013
                h4
                    a(href="http://biomassmagazine.com/articles/8470/doe-awards-10-million-to-develop-biofuels-biobased-products", target="_blank") DOE awards $10 million to develop biofuels, biobased products
                p.press-content TeselaGen partners with Lygos to develop the next generation of renewable chemicals, getting the blessing from the U.S. Department of Energy and solidifying its position as the world's leading Synthetic Biology platform.
            .large-12.small-12.box-content
                h4.press-date November 19, 2012
                h4
                    a(href="http://www.buzzfeed.com/atmccann/how-to-code-a-life", target="_blank") How to Code a Life
                p.press-content TeselaGen, Stanford/LBL's Synthetic Biology startup, featured on article about how to code a life.
            .large-12.small-12.box-content
                h4.press-date October 1, 2012
                h4
                    a(href="http://newscenter.lbl.gov/feature-stories/2012/10/01/jbei-teselagen/", target="_blank") TeselaGen to Speed Up Biotech Industry
                p.press-content TeselaGen obtains exclusive license for j5 from Berkeley Lab, the lead institutional partner of JBEI.

