extends layout

block container

    #commercial.row
        .large-2.small-2.columns
            p TERMS
            ul.side-nav
                li
                    a(href="/terms") Terms of Service
                li
                    a(href="/commercialuse") Commercial Use
                li
                    a(href="/acceptableuse") Acceptable Use
                li.active
                    a(href="/pricingterms") Pricing Terms
                li
                    a(href="/security") Security

        .large-10.small-10.box-content.columns
                h3 Pricing Terms & Conditions
                h4 Commercial Use Accounts
                p For commercial customers TeselaGen offers special Commercial Use Accounts that enjoy enterprise software level features not available on Free Accounts. TeselaGen accepts purchase orders Commercial Use Accounts.
                h4 Billing
                p The fees for your Commercial Use Account will be billed from the date you register a Commercial Use Account and on each monthly or yearly renewal thereafter unless and until you cancel your account. Click on the link on your "Account" page to see the commencement date for your next renewal period. TeselaGen will automatically invoice on the calendar day corresponding to the commencement of your Commercial Use Account. In the event your Commercial Use Account began on a day not contained in a given month or year, TeselaGen will invoice on the last day of such month or year. For example, if your Commercial Use Account began on January 31st, February 28th is the next time you would be invoiced. You acknowledge that the amount billed each month or year may vary for reasons that include, differing amounts due to promotional offers, differing amounts due to changes in your account, or changes in the amount of applicable sales tax, and you authorize us to charge for such varying amounts. All fees and charges are nonrefundable and there are no refunds or credits for partially used periods.
                h4 Cancelling Your Account
                p Your TeselaGen Commercial Use Account will continue in effect unless and until you cancel your Commercial Use Account or we terminate it. You must cancel your Commercial Use Account before it renews each month or year in order to avoid billing of the next month's or year's fees. TeselaGen will bill the monthly or yearly fees associated with your Commercial Use Account plus any applicable tax to the invoicing address you provide to us during registration.
                p TeselaGen Commercial Use Accounts are prepaid and are non-refundable. TESELAGEN DOES NOT PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL MONTHS OR YEARS. You may cancel your TeselaGen Commercial Use Account at anytime, and cancellation will be effective immediately. If you wish to cancel your Commercial Use Account you may do so via your "Account" page. Should you elect to cancel your Commercial Use Account, please note that you will not be issued a refund for the most recently (or any previously) charged monthly or yearly fees. By signing up for a TeselaGen Commercial Use Account and providing TeselaGen with your payment information, you hereby agree to these payment terms and conditions.
                h4 Free Accounts
                p TeselaGen allows you to use a Free Account if you are an academic researcher at a not for profit University or Research Institute. TeselaGen reserves the right to terminate Free Accounts at any time, with or without notice. Without limiting the generality of the foregoing, if a Free Account is inactive for six months, then TeselaGen may delete any or all of Your Files without providing additional notice. For further information regarding your TeselaGen Commercial Use or Free Account, please see the TeselaGen Terms of Service.