extends layout

block container
    .row
        .span12
            .span8
                .span7
                    .hero-unit
                        h2 Registration
                        h3 To register you must use the token key received from us.
                        br
                        form.form-horizontal(action="/register",method="POST")
                          fieldset
                              .control-group
                                label.control-label(for='registerToken') Register Token
                                .controls
                                  input.input-xlarge(type='text',name="registerToken")
                              .control-group
                                label.control-label(for='user[firstName]') First Name
                                .controls
                                  input.input-xlarge(type='text',name="user[firstName]")
                              .control-group
                                label.control-label(for='user[lastName]') Last Name
                                .controls
                                  input.input-xlarge(type='text',name="user[lastName]")
                              .control-group
                                label.control-label(for='user[email]') Email
                                .controls
                                  input.input-xlarge(type='text',name="user[email]")
                              .control-group
                                label.control-label(for='password') Password
                                .controls
                                  input.input-xlarge(type='password',name="password")
                              .control-group
                                label.control-label(for='user[type]') User type
                                .controls
                                  select.input-xlarge(type='select',name="user[type]")
                                    option root
                                    option user
                                    option guest
                              .form-actions
                                button#save.btn.btn-primary(type='submit', data-complete-text="done!") Register
                                button.btn Cancel