html(lang='en')
  head
    meta(charset='utf-8')
    title TeselaGen Biotechnology - Sign Up
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Sign Up to use our Beta Application Today!')
    
    // Le styles
    link(href='/css/foundation.min.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')

    // fav and touch icons 
    link(rel='shortcut icon', href='img/favicon.ico')
    //- link(rel='shortcut icon', href='ico/favicon.ico')
    //- link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')

    // fonts
    script(type='text/javascript', src='//use.typekit.net/wnz0zph.js')
    script(type='text/javascript') try{Typekit.load();}catch(e){}
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700italic', rel='stylesheet', type='text/css')
    
  body

    #signup
        .row
            .large-6.small.6.large-centered.small-centered.page-logo.columns
                img(src="/img/teselagen_toplogo.png")
            .large-6.small-6.page-header.large-centered.small-centered.columns Sign Up
            .large-6.small-6.large-centered.small-centered.columns
                form(data-validate="parsley")#signup_form.custom
                    .row
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='first_name') First Name
                            .large-9.small-9.columns
                                input(type='text', id='first_name', placeholder='First Name', data-required="true")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='last_name') Last Name
                            .large-9.small-9.columns
                                input(type='text', id='last_name', placeholder='Last Name', data-required="true")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='username') Username
                            .large-9.small-9.columns
                                input(type='text', id='username', placeholder='Username', data-required="true", data-type="alphanum")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='password') Password
                            .large-9.small-9.columns
                                input(type="password", id='password', data-required="true")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='email') Email
                            .large-9.small-9.columns
                                input(type='email', id='email', placeholder='Email', data-required="true", data-type="email")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='organizationType') Organization Type
                            .large-9.small-9.columns
                                select(id='organizationType', data-required="true")
                                    option(value="", selected="selected", disabled="disabled") Select organization type
                                    option(value="academic") Academic
                                    option(value="government") Government
                                    option(value="commercial") Commercial
                                    option(value="independent") Independent
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='organizationName') Organization Name
                            .large-9.small-9.columns
                                input(type='text', id='organizationName', placeholder='Company/University Name', data-required="true")
                        .row.registration-buts
                                a.button.radius.expand#signup_submit Sign Up Now
                                a.button.radius.secondary.expand(href='http://app.teselagen.com/') Already on TeselaGen? Log In Now.
                                p.signup-note By clicking 'Sign Up' above, you agree to the <a href="http://teselagen.com/terms">Terms Of Service</a> and <a href="http://teselagen.com/privacy">Privacy Policy</a>.    


    .large-5.small-5.large-centered.small-centered.columns#footer2_links
          nav.top-bar
            section.top-bar-section#footer_2
              ul(style='text-alight:center')
                li
                  a(href='/', target='blank') Home
                li
                  a(href='/about', target='blank') About
                li
                  a(href='/faq', target='blank') FAQ 
                li
                  a(href='/contact', target='blank') Contact
                li
                  a(href='http://help.teselagen.com', target='_blank') Manual
                li
                  a(href='/terms') Terms
                li
                  a(href='/privacy', target='_blank') Privacy          
    .large-6.small-6.large-centered.small-centered.columns#footer_copy
        © Teselagen 2013

script document.write('<script src=/js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');
script(src='/js/jquery-1.10.2.min.js')
script(src='/js/parsley.js')
script(src='/js/application.js')
script(src='/js/foundation.min.js')
script $(document).foundation();
