extends layout

block container

    #terms.row
        .large-2.small-2.columns
            p TERMS
            ul.side-nav
                li.active
                    a(href="/terms") Terms of Service
                li
                    a(href="/commercialuse") Commercial Use
                li
                    a(href="/acceptableuse") Acceptable Use
                li
                    a(href="/pricingterms") Pricing Terms
                li
                    a(href="/security") Security

        .large-10.small-10.box-content.columns
            h3 TeselaGen Terms of Service 
            p Thank you for using TeselaGen! These terms of service (the "Terms") govern your access to and use of TeselaGen ("we" or "our") websites and services (the "Services"), so please carefully read them before using the Services.
                By using the Services you agree to be bound by these Terms. If you are using the Services on behalf of an organization, you are agreeing to these Terms for that organization and promising that you have the authority to bind that organization to these terms. In that case, "you" and "your" will refer to that organization.
                You may use the Services only in compliance with these Terms. You may use the Services only if you have the power to form a contract with TeselaGen and are not barred under any applicable laws from doing so. The Services may continue to change over time as we refine and add more features. We may stop, suspend, or modify the Services at any time without prior notice to you. We may also remove any content from our Services at our discretion.
            h4 Your Data & Your Privacy
            p By using our Services you provide us with DNA Sequence Data, DNA Part Data, and DNA Design Data and associated information and preferences that you submit to TeselaGen (together, "your data"). You retain full ownership to your data. We don't claim any ownership to any of it. These Terms do not grant us any rights to your data or intellectual property except for the limited rights that are needed to run the Services, as explained below.
                We may need your permission to do things you ask us to do with your data, for example, designing an assembly protocol, or sharing them at your direction. This includes product features visible to you, for example, image thumbnails or design previews. It also includes design choices we make to technically administer our Services, for example, how we redundantly backup data to keep it safe. You give us the permissions we need to do those things solely to provide the Services. This permission also extends to trusted third parties we work with to provide the Services, for example Firehost.com, which provides our server and storage space (again, only to provide the Services).
                To be clear, aside from the rare exceptions we identify in our Privacy Policy, no matter how the Services change, we won't share your content with others, including law enforcement, for any purpose unless you direct us to. How we collect and use your information generally is also explained in our Privacy Policy.
                You are solely responsible for your conduct, the content of your DNA designs, and your communications with others while using the Services. For example, it's your responsibility to ensure that you have the rights or permission needed to comply with these Terms.
            h4 Sharing Your Data
            p The Services provide features that allow you to share your data with others or to make it public. There are many things that users may do with that data (for example, copy it, modify it, re-share it). Please consider carefully what you choose to share or make public. TeselaGen has no responsibility for that activity.
            h4 Your Responsibilities
            p Data and other content in the Services may be protected by intellectual property rights of others. Please do not copy, upload, download, or share DNA data or designs unless you have the right to do so. You, not TeselaGen, will be fully responsible and liable for what you copy, share, upload, download or otherwise use while using the Services. You must not upload spyware or any other malicious software to the Service. You, and not TeselaGen, are responsible for maintaining and protecting all of your data. TeselaGen will not be liable for any loss or corruption of your data, or for any costs or expenses associated with backing up or restoring any of your data. If your contact information, or other information related to your account, changes, you must notify us promptly and keep your information current. The Services are not intended for use by you if you are under 13 years of age. By agreeing to these Terms, you are representing to us that you are over 13.
            h4 Account Security
            p You are responsible for safeguarding the password that you use to access the Services and you agree not to disclose your password to any third party. You are responsible for any activity using your account, whether or not you authorized that activity. You should immediately notify TeselaGen of any unauthorized use of your account. You acknowledge that if you wish to protect your transmission of data or data to TeselaGen, it is your responsibility to use a secure encrypted connection to communicate with the Services.
            h4 Software and Updates
            p Some use of our Service requires you to download a client software package ("Software"). TeselaGen hereby grants you a limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access the Services. Your license to use the Software is automatically revoked if you violate these Terms in a manner that implicates our intellectual property rights. We hereby reserve all rights not expressly granted in these Terms. You must not reverse engineer or decompile the Software, nor attempt to do so, nor assist anyone else to do so. Our Services may update the Software on your device automatically when a new version is available. Our pause syncing feature pauses syncing of your data, but may not cease all data transfer, so you should exit the desktop client if you'd like to stop data transfer.
            h4 TeselaGen Property and Feedback
            p These terms do not grant you any right, title, or interest in the Services, Software, or the content in the Services. While we appreciate it when users send us feedback, please be aware that we may use any feedback, comments, or suggestions you send us or post in our forums without any obligation to you. The Software and other technology we use to provide the Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. These Terms do not grant you any rights to use the TeselaGen trademarks, logos, domain names, or other brand features.
            h4 Acceptable Use Policy
            p You will not, and will not attempt to, misuse the Services, and will use the Services only in a manner consistent with the TeselaGen Acceptable Use Policy.
            h4 Copyright
            p TeselaGen respects others' intellectual property and asks that you do too. We will respond to notices of alleged copyright infringement if they comply with the law and are properly provided to us.
            h4 Other Content
            p The Services may contain links to third-party websites or resources. TeselaGen does not endorse and is not responsible or liable for their availability, accuracy, the related content, products, or services. You are solely responsible for your use of any such websites or resources. Also, if we provide you with any software under an open source license, there may be provisions in those licenses that expressly conflict with these Terms, in which case the open source provisions will apply.
            h4 Termination
            p You can stop using our Services any time. We reserve the right to suspend or end the Services at any time, with or without cause, and with or without notice. For example, we may suspend or terminate your use if you are not complying with these Terms, or use the Services in any way that would cause us legal liability or disrupt others' use of the Services. If we suspend or terminate your use, we will try to let you know in advance and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend immediately.
                TeselaGen is Available "AS-IS"
                Though we want to provide a great service, there are certain things about the service we can't promise. For example, THE SERVICES AND SOFTWARE ARE PROVIDED "AS IS", AT YOUR OWN RISK, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. TeselaGen will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of the Services or Software. Some states do not allow the types of disclaimers in this paragraph, so they may not apply to you.
                Limitation of Liability
                TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL TESELAGEN, ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT TESELAGEN HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF $20 OR THE AMOUNTS PAID BY YOU TO TESELAGEN FOR THE PAST THREE MONTHS OF THE SERVICES IN QUESTION. Some states do not allow the types of limitations in this paragraph, so they may not apply to you.
            h4 Modifications
            p We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you (for example via email to the email address associated with your account). Other changes may be posted to our blog or terms page, so please check those pages regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Services.
