extends admin

block container

    #contact
        .row(style="max-width: 90%;")
            .large-12.small-12.page-header Administration
        .row
            table#user-table(style="width:100%;")
        #push.toLocaleString()

block scripts
    script(src='/js/jquery-1.8.2.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/jquery.timeago.js')
    script
        $(document).ready(function(){
            $.fn.dataTableExt.sErrMode = 'ignore';
            var oTable = $('#user-table').dataTable( {
                "bProcessing": true,
                "sAjaxSource": "/admin/users",
                "aoColumns": [
                    { "mData": "lastName" , sTitle: "Last Name"},
                    { "mData": "firstName" , sTitle: "First Name"},
                    { "mData": "email" , sTitle: "Email"},
                    { "mData": "username" , sTitle: "Username"},
                    { "mData": "groupType" , sTitle: "Org Type"},
                    { "mData": "groupName" , sTitle: "Org Name", sWidth: "20%"},
                    { "mData": "activated" , sTitle: "Activated"},
                    { "mData": "dateCreated" , sTitle: "Date created", sWidth: "20%",
                      fnRender: function ( o, val ) {
                        return new Date(val).toLocaleString();
                      }
                    },
                    { "mData": "lastAccess", sDefaultContent: "", sTitle: "Last Access",
                      fnRender: function ( o, val ) {
                        if(val==="") return "never";
                        return jQuery.timeago(new Date(val));
                      }
                    },
                    { "mData": "id",
                      fnRender: function ( o, val ) {
                            var link = '<a href="/admin/edituser/?id='+val.toString()+'">Edit</a>';
                            return link;
                    }
                    }
                ],
                "sAjaxDataProp": "users",
                "bStateSave": true
            } );
        });