extends admin

block container

    #contact
        .row(style="max-width: 90%;")
            .large-12.small-12.page-header Administration
        .row(style="max-width: 80%;")
            table#user-table(style="width:100%;").large-12.small-12
        #push.toLocaleString()

block scripts
    script(src='/js/jquery-1.8.2.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/jquery.timeago.js')
    script
        $(document).ready(function(){
            $.fn.dataTableExt.sErrMode = 'ignore';
            var oTable = $('#user-table').dataTable( {
                "bProcessing": true,
                "sAjaxSource": "/admin/users",
                "aoColumns": [
                    { "mData": "lastName" , sTitle: "Last Name"},
                    { "mData": "firstName" , sTitle: "First Name"},
                    { "mData": "email" , sTitle: "Email"},
                    { "mData": "username" , sTitle: "Username"},
                    { "mData": "userType" , sTitle: "User Type"},
                    { "mData": "groupType" , sTitle: "Org Type"},
                    { "mData": "groupName" , sTitle: "Org Name", sWidth: "20%"},
                    { "mData": "activated" , sTitle: "Activated"},
                    { "mData": "dateCreated" , sTitle: "Date created", sWidth: "20%",
                      mRender: function ( data, type, full ) {
                        return new Date(data).toLocaleString();
                      }
                    },
                    { "mData": "lastAccess", sDefaultContent: "-", sTitle: "Last Access",
                      mRender: function ( data, type, full ) {
                        return new Date(data).toLocaleString();
                        //if(data==="-") return "never";
                        //return jQuery.timeago(new Date(data));
                      }
                    },
                    { "mData": "id",
                      mRender: function ( data, type, full ) {
                            var link = '<a href="/admin/edituser/?id='+data.toString()+'">Edit</a>';
                            return link;
                    }
                    }
                ],
                "sAjaxDataProp": "users",
                "bStateSave": true,
                    fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                        if(!aData.activated) $(nRow).css('background-color', 'rgba(255, 0, 0, 0.2)');
                        else $(nRow).css('background-color', 'rgba(51, 255, 51, 0.2)');
                    }
            } );
        });