.span8
    .span7.well
      h1 Change Password
      br
      form.form-horizontal#change-password
          fieldset
              .control-group
                label.control-label(for='oldpass') Old Password
                .controls
                  input.input-xlarge(type='password',name="oldpass")
              .control-group
                label.control-label(for='newpass') New Password
                .controls
                  input.input-xlarge(type='password',name="newpass")
              .form-actions
                button#save.btn.btn-primary(type='submit', data-complete-text="Password changed!") Save changes
                button.btn Cancel
.span3
    include dashboard_menu