.span3.well(style="padding:0px;")
    ul.nav.nav-list
        li.nav-header.dash-head
            span Running Applications
        br
        li
            p 
                span.badge 0
                a(href="de-instances") Device Editor
        li
            p 
                span.badge 0
                span   Vector Editor


.span3.well(style="padding:0px;")
    ul.nav.nav-list
        li.nav-header.dash-head
            span Administration
        li
            a(href="new-user") 
                i.icon-plus
                span  New user
        li
            a(href="manage-users") 
                i.icon-th-list
                span  Manage users
        li
            a(href="manage-tokens") 
                i.icon-th-list
                span  Manage tokens

.span3.well(style="padding:0px;")
    ul.nav.nav-list
        li.nav-header.dash-head
            span Applications
        li
            a(href="vector_editor") 
                i.icon-indent-left
                span  Vector Editor
        li
            a(id="go_deviceEditor") 
                i.icon-facetime-video
                span  Device Editor

.span3.well(style="padding:0px;")
    ul.nav.nav-list
        li.nav-header.dash-head
            span Account
        li
            a(href="edit-account") 
                i.icon-list-alt
                span  Edit Account
        li
            a(href="change-password") 
                i.icon-pencil
                span  Change Password