.span8
    .span7.well
        h1 Manage users
        br
        .span5
            table.table.table-bordered(style="background:white;width:608px;")
                thead
                  tr
                    th(width="20px;") Email
                    th Full Name
                    th
                tbody#table-content
.span3
    include dashboard_menu